<h1>Edit Farm Here</h1>

<%= form_for :farm, url: edit_farm_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
 <p>
    <%= f.label :'Street address of your farm' %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </p>

   <p>
    <%= f.label :description %><br>
    <%= f.text_area(:description, rows: 20, cols:40) %>

    </p>


  <p>
    <%= f.submit %>
  </p>


<h1>List of our pickups</h1>
 
<table>
  <tr>
    <th>Farm ID</th>
    <th>Place ID</th>
    <th>Address</th>
    <th>Zip code</th>
  </tr>
 
  <% @pickups.each do |pickup| %>
    <tr>
      <td><%= pickup.farm_id %></td>
      <td><%= pickup.place_id %></td>
       <td><%= pickup.address %></td>
      <td><%= pickup.zip %></td>
    </tr>
  <% end %>
</table>


<h1>New Pickup Point</h1>

  <%= form_for :pickup, url: pickups_path do |f| %>
   
   <p>
      <%= f.label :'Place id' %><br>
      <%= f.number_field :place_id %>
    </p>

    <p>
      <%= f.label :Address %><br>
      <%= f.text_field :address %>
    </p>

    <p>
      <%= f.label :zip %><br>
      <%= f.text_field :zip %>
    </p>


    <p>
      <%= f.submit %>
  <% end %> 

<% end %>