<p>
  <strong>Title</strong>
  <%= @farm.title %>
</p>

<p>
  <%= image_tag @farm.logo.url('medium') %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @farm.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @farm.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm.description %>
</p>

<h2>List of our products</h2>
 
 <%= render partial: "shared/products_table", locals: {products: @products} %>

<h2>List of our pickups</h2>

<%= render partial: "shared/pickups_table", locals: {pickups: @pickups} %>