<p>
  <strong>Title</strong>
  <%= @farm.title %>
</p>

<p>
  <%= image_tag @farm.logo.url('medium') %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @farm.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @farm.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm.description %>
</p>

<h2>List of our products</h2>
 
<table>
  <tr>
    <th>Farm id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.farm_id %></td>
      <td><%= product.title %></td>
       <td><%= product.description %></td>
      <td><%= product.price %></td>
    </tr>
  <% end %>
</table>

<h2>List of our pickups</h2>
 
<table>
  <tr>
    <th>Farm ID</th>
    <th>Place ID</th>
    <th>Address</th>
    <th>Zip code</th>
  </tr>
 
  <% @pickups.each do |pickup| %>
    <tr>
      <td><%= pickup.farm_id %></td>
      <td><%= pickup.place_id %></td>
       <td><%= pickup.address %></td>
      <td><%= pickup.zip %></td>
    </tr>
  <% end %>
</table>