<p>
  <strong>Title</strong>
  <%= @farm.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @farm.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @farm.zip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm.description %>
</p>