<%= render 'shared/status_bar', stage: 1 %>    

		<div class="row headline">
			<div class="medium-3 columns">
				<h2>Sign up</h2>
			</div>
			<div class="medium-9 columns">
				<p class="tagline"><em>Get awesome juicing produce and recipes. Free delivery!</em></p>
			</div>
		</div>

		<div class="row">
			<div class="medium-6 columns">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :"First Name" %>
			  <%= f.text_field :first, :autofocus => true, :required => '' %></div>

			  <div><%= f.label :"Last name" %>
			  <%= f.text_field :last %></div>

			  <div><%= f.label :email %>
			  <%= f.email_field :email %></div>

			  <div><%= f.label :password %>
			  <%= f.password_field :password %></div>

			  <div><%= f.label :"Zip Code" %>
			  <%= f.text_field :zip %></div>

			  <%= f.hidden_field :promocode_id, value: session[:promocode_id] %>

			  <div><%= f.submit "Sign up", class: "fv-button" %></div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>

<% #call with empty array: right column doesnt show.  %>
<%= render 'shared/order_bg_2', summary: {} %> 