<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="LaYLwm2d995UlqRCnPcHJe4zHW76LqYYbw5NPY3hRfM" />

  	<title><%= "Farmer Grown - Farmivore" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
  	<%= stylesheet_link_tag    "mvp" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%= render 'layouts/messages' %>
  <div class="centered">
     <header>
       <div class="row">
          <div class="large 12 columns"><%= image_tag('logo-OG.png') %></div>
       </div>
     </header>
    <div class="blockgrid">
      <%= image_tag('lettuce-iphone.jpg') %>
    </div>
     <div class="row">
          <div class="large 12 columns"><h1>See today's fresh harvest.</h1></div>
     </div>
       <div class="row">
          <div class="large 12 columns"><p>Listings straight from the farmer's hands.</p><p><em>Now serving: <%= link_to 'Wooster Square, New Haven', farms_path %></em></p></div>
     </div>

           <hr class="style-eight"/>


      <div class="row">
          <div class="large 12 columns"><p><strong>For farmers:</strong> <br />List your produce just using your phone. <%= link_to 'Learn more', new_contact_path %></p><br /><br /></div>
     </div>


  </div>

      <%= render 'layouts/footer' %>

    <%= javascript_include_tag "mvp" %>
  </body>
</html>