<h1>Edit Pickup Point</h1>

<%= form_for @pickup, url: farm_pickup_path do |f| %>

  <p>
    <%= f.label :'Place id' %><br>
    <%= f.number_field :place_id %>
  </p>

  <p>
    <%= f.label :Address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>