<table >
<tr class="fixedbar">
  <th>Name</th>
  <th>Email/phone</th>
  <th>freq(dep)</th>
  <th>d. pref</th>
  <th>Addy</th>
  <th>startdate</th>
  <th>Code</th>
  <th>text?</th>
  <th>call?</th>
  <th>hood</th>
</tr>
<% @boxes.each do |b| %>
<tr>
  <td><%= b.firstname %><br /><%= b.lastname %><</td>
  <td><%= b.email %><br /><%= b.phone %></td>
  <td><%= b.frequency_string %></td>
  <td><%= b.delivery_preference_string %></td>
  <td>
    <span data-tooltip class="has-tip" title="<%= b.instructions %>">L
      <%= b.street %>/<%= b.street2 %><br /><%= b.city %>, <%= b.state %> <%= b.zip %>
    </span>
      
  </td>
  <td><%= b.startdate %></td>
  <td><%= b.raw_num %> - <%= b.cook_num %> - <%= b.fruit_num %></td>
  <td><%= b.text_me %></td>
  <td><%= b.call_me %></td>
  <td><%= b.neighborhood %></td>
</tr>

<% end %>
</table>