<section class="intro">
  <div class="row">
    <div class="small-12 columns left location">
      <p>Now serving New York City. <a href="mailto:hello@farmivore.com?Subject=Delivery%20Locations&Body=Please%20add%20(my%20city)%20soon!">(<span data-tooltip class="has-tip" title="Click to let us know where you'd like Farmivore to serve next!">Live elsewhere?</span>)</a></p>
    </div>
  </div>
</section>


<div class="form">
  <%= form_for @box, url: boxes_path, :html => {"data-abide" => ''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="small-12 columns">
      <h1>Farmivore NYC Winter Box<h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns module-select">
      <dl class="tabs vertical right" data-tab>
        <dd class="active"><a href="#panel1a">Greenhouse greens and yada yada<br /> $8 x   <%= f.number_field(:module_1, value: 1, in: 0...6) %>
        </a></dd>
        <dd><a href="#panel2a">Tab 2   <%= f.number_field(:module_2, value: 1, in: 0...6) %>
        </a></dd>
        <dd><a href="#panel3a">Tab 3  <%= f.number_field(:module_3, value: 1, in: 0...6) %>
        </a></dd>
        <dd><a href="#panel4a">Tab 4  <%= f.number_field(:module_4, value: 1, in: 0...6) %>
        </a></dd>
        <dd><a href="#panel4a">Tab 5  <%= f.number_field(:module_5, value: 1, in: 0...6) %>
        </a></dd>
        <dd><a href="#panel4a">Tab 6  <%= f.number_field(:module_6, value: 1, in: 0...6) %>
        </a></dd>
      </dl>
      <div class="tabs-content vertical">
        <div class="content active" id="panel1a">
          <p>Panel 1 content goes here.</p>
        </div>
        <div class="content" id="panel2a">
          <p>Panel 2 content goes here.</p>
        </div>
        <div class="content" id="panel3a">
          <p>Panel 3 content goes here.</p>
        </div>
        <div class="content" id="panel4a">
          <p>Panel 4 content goes here.</p>
        </div>
      </div>
    </div>
  </div>
  

<!-- Price total box -->
<div class="row">
  <div class="price-box small-12 medium-4 columns">
    <div class="outer-box radius rounded">
      <div class="row">
        <div class="small-6 columns small-centered centered">
          <span class="carrot"><%= image_tag('carrot-bandw.png') %></span>
        </div>
      </div>

      <div class="row delivery-row">
          <div class="delivery-ribbon centered"><h6 class="delivery-ribbon-content">Free delivery for orders over $40!</h6></div>
      </div>

      <div class="row">
        <div class="small-12 columns centered" id="customize-toggle">
          <a href="#" class="customize-button">Build a bigger box</a>
          <hr />
        </div>
      </div>

      <div class="row select-frequency">
        <div class="small-6 columns">
          <%= f.label :frequency, "Frequency", html_options = {class: "right inline", for: "select-frequency"} %>
        </div>
        <div class="small-6 columns">
          <%= f.select(:frequency, options_for_select([
            ["Weekly",1],
            ["Every 2 weeks",2],
            ["Every month",4]
          ])) %>
          <%# In editing the frequency, remember to edit jscript which changes the Total: text %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns totals">
          <h5>Subtotal:  $<span id="price_sum">24</span>.00</h5>
          <h5>Delivery:  $<span id="price_delivery">4</span>.00</h5>
          <h5>Total per <span id="total_period">week</span>: <strong>$<span id="price_total">28</span>.00</h5></strong>
        </div>
        <div class="small-12 columns checkout centered">
          <a class="checkout-button">Select this box</a>
        </div>
      </div>
     
      
    </div>
  </div>
</div>






     
<!--  begin delivery preferences -->
<div id="delivery_preferences">
  <%= render 'shared/delivery_preferences', f: f %>
</div>

 <% end %>
