 <div>
  <div class="row">
    <div class="large-12 columns">
      <h1>Choose a box</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= form_for @box, url: @path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
     <div class="row">
      <div class="large-4 columns">
        <ul class="pricing-table">
          <li class="title">Raw Box</li>
          <li class="price">$25</li>
          <li class="description">No cooking required. Great for seasonal salads, juice, and other quick, nutritious meals</li>
          <li class="bullet-item">Fruit, salad greens, carrots, celery, etc</li>
          <li class="bullet-item">Good for 1-2 people</li>
          <li class="bullet-item">Free delivery</li>
          <li class="cta-button"><%= f.radio_button(:box_num, 1) %>
              <%= f.label(:box_1, "Select me!") %></li>
        </ul>
      </div>
      <div class="large-4 columns">
        <ul class="pricing-table">
          <li class="title">Cooking box</li>
          <li class="price">$25</li>
          <li class="description">For individuals more comfortable with cooking a wide variety of seasonal ingredients</li>
          <li class="bullet-item">Fruit, greens, root vegetables, and more</li>
          <li class="bullet-item">Good for 1-2 people</li>
          <li class="bullet-item">Free delivery</li>
          <li class="cta-button"><%= f.radio_button(:box_num, 2) %>
              <%= f.label(:box_2, "Select me!") %></li>
        </ul>
      </div>

     <div class="large-4 columns"></div>
     </div>

      <div class="row">
        <div class="large-12 columns">
          <p><a href="#modal" data-reveal-id="sampleBoxes">See a sample of what's in each box</a></p>
        </div>  
      </div>

    <h3>Select your preferences</h3>
      <div class="row">
        <div class="large-12 columns">
           <ul class="inline-list">
            <li><%= f.radio_button(:frequency, 1) %>
              <%= f.label(:weekly, "Weekly box") %></li>
            <li><%= f.radio_button(:frequency, 2) %>
              <%= f.label(:biweekly, "Biweekly box") %></li>
          </ul>
        </div> 
      </div>
        
      <div class="row">
        <div class="large-6 columns">
          <em>Starting on the following date:</em>
         <p> <%= f.select(:startdate, options_for_select([["Saturday, Nov 23","Sat Nov 23"],["Saturday, Nov 30", "Sat Nov 30"],["Saturday, December 7", "Sat Dec 7"]])) %>
         </p>
        </div>
        <div class="large-2 columns"></div>  
        <div class="large-4 columns"></div>  
      </div>

      <div class="row">
        <div class="large-6 columns">
          <em>Choose delivery window (sorry, only New Haven City locations for now</em>
         <p> <%= f.select(:delivery_preference, options_for_select([["Saturday morning, 9am-1pm",1],["Saturday afternoon, 1pm-5pm",2]])) %>
         </p>
        </div>
        <div class="large-2 columns"></div>  
        <div class="large-4 columns"></div>  
      </div>
      <div class="row">

        <div class="large-4 columns">
              <%= f.text_field :firstname, :placeholder => "Your first name" %> 
        </div>
        <div class="large-4 columns">
              <%= f.text_field :lastname, :placeholder => "Last name"%>  
        </div>   
        <div class="large-4 columns"></div>  
      </div>

      <div class="row">

        <div class="large-5 columns">
              <%= f.text_field :email, :placeholder => "Your email address" %> 
        </div>
        <div class="large-3 columns"><%= f.text_field :phone, :placeholder => "Your phone number" %> </div>  
        <div class="large-4 columns"></div>  
      </div>


      <div class="row">
        <div class="large-12 columns">
          <em>Your delivery address (no need to enter if pickup is selected)</em>
        </div>
      </div>
      <div class="row">
        <div class="large-5 columns">
             <%= f.text_field :street, :placeholder => "Street address line 1" %>
              <%= f.text_field :street2, :placeholder => "Street address line 2" %>
        </div>
        <div class="large-3 columns"></div>  
        <div class="large-4 columns"></div>  
      </div>

      <div class="row">
        <div class="large-2 columns">
              <%= f.text_field :city, :placeholder => "City" %>
        </div>
        <div class="large-1 columns"><%= f.text_field :state, :placeholder => "State" %></div>  
        <div class="large-2 columns"><%= f.text_field :zip, :placeholder => "Zip" %></div>  
        <div class="large-7 columns"></div>
      </div>

      <div class="row">
        <div class="large-3 columns">
              <%= f.text_area :instructions, :placeholder => "Instructions for our delivery person" %>
        </div>
        <div class="large-10 columns"></div>
      </div>


      <%= f.submit 'Checkout', :class => "button" %>  
      <% end %>
    </div>
  </div>


  <div id="sampleBoxes" class="reveal-modal">
    <div class="row">
      <div class="large-12 columns">
        <h3>Some sample boxes from last week, Nov 9th</h3>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <h5><em>Raw Box</em></h5>
        <ul class="square">
          <li>Swiss Chard, 1 bunch</li>
          <li>Tuscan "Dino" Kale, 1 bunch</li>
          <li>1/4 lb. Asian Salad Mix</li>
          <li>Beets (red, white, and gold), 1 bunch</li>
          <li>Cherriette Radishes, 1 bunch</li>
          <li>1lb Macoun apples</li>
        </ul>
      </div>
      <div class="large-6 columns">
         <h5><em>Cooking box</em></h5>
          <ul class="square">
            <li>Tuscan "Dino" Kale, 1 bunch</li>
            <li>1/4 lb. Asian Salad Mix</li>
            <li>Cherriette Radishes, 1 bunch</li>
            <li>1lb Macoun apples</li>
            <li>Winter squash </li>
            <li>Sweet potatoes</li>
          </ul>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>