<section class="intro">
  <div class="row">
    <div class="small-12 centered columns">
      <h1 class="header-main">Pick the box that's right for you.</h1>
      <p class="header-indent">Now delivering to New Haven, CT.  <a href="#">More locations </a></p>
      <p class="ribbon">Free delivery for orders over $40!</p>
    </div>
  </div>
</section>

<div class="form">
  <%= form_for @box, url: @path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <section class="select"> <!-- start tabs -->
    <div class="row"> 
      <div class="small-12 columns">
        <dl class="tabs three-up mobile" data-tab>
          <dd>
            <a href="#panel2-1">
              <div class="profiles">
                <h2>some text</h2>
                <p>some text</p>
                <p>there's also an image in the back</p>
              </div>
            </a>
          </dd>
          <dd class="active">
            <a href="#panel2-2">
              <div class="profiles">
                <h2>some text</h2>
                <p>some text</p>
                <p>there's also an image in the back</p>
              </div>
            </a>
          </dd>
          <dd>
            <a href="#panel2-3">
              <div class="profiles">
                <h2>some text</h2>
                <p>some text</p>
                <p>there's also an image in the back</p>
              </div>
            </a>
          </dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="tab-connected">
          <div class="tabs-content-custom">
            <div class="content" id="panel2-1">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>First panel content goes here...</p>
                </div>
              </div>
            </div>
            <div class="content active" id="panel2-2">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>Second panel content goes here...</p>
                </div>
              </div>
            </div>
            <div class="content" id="panel2-3">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>Third panel content goes here...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="tab-connected tab-bottom">
          <p>Test</p>
        </div>
      </div>
    </div>



  </section><!-- end tabs -->


      <section class="box-options">
        <div class="row">
          <div class="large-12 large-centered columns">
            <ul class="box-options large-block-grid-2">
              <%# BOX OPTION%>
              <li>
                <ul class="box-option">
                  <li class="title">Raw Box</li>
                  <li class="price">$25</li>
                  <li class="description">No cooking required. Great for seasonal salads, juice, and other quick, nutritious meals</li>
                  <li class="bullet-item">Fruit, salad greens, carrots, celery, etc</li>
                  <li class="bullet-item">Good for 1-2 people</li>
                  <li class="bullet-item">Free delivery</li>
                  <li class="cta-button"><%= f.radio_button(:box_num, 1) %><%= f.label(:box_1, "Select me!") %></li>
                </ul>
              </li>

              <%# BOX OPTION%>
              <li>
                <ul class="box-option">
                  <li class="title">Cooking box</li>
                  <li class="price">$25</li>
                  <li class="description">For individuals more comfortable with cooking a wide variety of seasonal ingredients</li>
                  <li class="bullet-item">Fruit, greens, root vegetables, and more</li>
                  <li class="bullet-item">Good for 1-2 people</li>
                  <li class="bullet-item">Free delivery</li>
                  <li class="cta-button"><%= f.radio_button(:box_num, 2) %><%= f.label(:box_2, "Select me!") %></li>
                </ul>
              </li>

            </ul>

            <p><a href="#modal" data-reveal-id="sampleBoxes">See a sample of what's in each box</a></p>
          </div>
        </div>
      </section>








<div class="row">
  <div class="large-8 large-centered columns">


      <%# BOX OPTIONS ===================================%>

      <div class="row">
        <div class="large-12 large-centered columns">
          <h3 class="subheader">2. Select your preferences</h3>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns panel">
          <p><strong>Subscription packages</strong><br />
            Contact us for discounted rates on 1 month, 3 month upfront subscriptions at <%= mail_to "hello@farmivore.com","hello@farmivore.com" %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list">
            <li><%= f.radio_button(:frequency, 1) %>
            <%= f.label(:weekly, "Weekly box") %></li>
            <li><%= f.radio_button(:frequency, 2) %>
            <%= f.label(:biweekly, "Biweekly box") %></li>
          </ul>
        </div>
      </div>


      <div class="row">
        <div class="large-12 columns">
          <p><em>Starting on the following date:</em><br/>
            <%= f.select(:startdate, options_for_select([["Saturday, Nov 23","Sat Nov 23"],["Saturday, Nov 30", "Sat Nov 30"],["Saturday, December 7", "Sat Dec 7"]])) %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <p><em>Choose delivery window (you don't have to be there)</em><br />
            <%= f.select(:delivery_preference, options_for_select([["Saturday morning, 9am-1pm",1],["Saturday afternoon, 1pm-5pm",2]])) %>
          </p>
        </div>
      </div>



      <div class="row">

        <div class="large-6 columns">
          <%= f.text_field :firstname, :placeholder => "Your first name" %>
        </div>
        <div class="large-6 columns">
          <%= f.text_field :lastname, :placeholder => "Last name"%>
        </div>
      </div>

      <div class="row">

        <div class="large-5 columns">
          <%= f.text_field :email, :placeholder => "Your email address" %>
        </div>
        <div class="large-3 columns"><%= f.text_field :phone, :placeholder => "Your phone number" %> </div>
        <div class="large-4 columns">&nbsp;</div>
      </div>


    <div class="row">
      <div class="large-8 columns">
        <p><em>Your delivery address</em><br />
          <div class="row">
            <div class="large-12 columns">
             <%= f.text_field :street, :placeholder => "Street address line 1" %>
             <%= f.text_field :street2, :placeholder => "Street address line 2" %>
            </div>
          </div>
          <div class="row">
            <div class="large-4 columns"><%= f.text_field :city, :placeholder => "City" %></div>
            <div class="large-4 columns"><%= f.text_field :state, :placeholder => "State" %></div>
            <div class="large-4 columns"><%= f.text_field :zip, :placeholder => "Zip" %></div>
          </div>
        </p>
      </div>
    </div>



    <div class="row">
      <div class="large-12 columns">
        <%= f.text_area :instructions, :placeholder => "Instructions for our delivery person (if you have a foyer, a back porch, or any other place we should put the package, let us know)" %>
      </div>
    </div>


    <%= f.submit 'Checkout', class: "button" %>
  </div>
</div>
<% end %>


<section id="sampleBoxes" class="reveal-modal">
  <div class="row">
    <div class="large-12 columns">
      <h3>Some sample boxes from last week, Nov 9th</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <h5><em>Raw Box</em></h5>
      <ul class="square">
        <li>Swiss Chard, 1 bunch</li>
        <li>Tuscan "Dino" Kale, 1 bunch</li>
        <li>1/4 lb. Asian Salad Mix</li>
        <li>Beets (red, white, and gold), 1 bunch</li>
        <li>Cherriette Radishes, 1 bunch</li>
        <li>1lb Macoun apples</li>
      </ul>
    </div>
    <div class="large-6 columns">
      <h5><em>Cooking box</em></h5>
      <ul class="square">
        <li>Tuscan "Dino" Kale, 1 bunch</li>
        <li>1/4 lb. Asian Salad Mix</li>
        <li>Cherriette Radishes, 1 bunch</li>
        <li>1lb Macoun apples</li>
        <li>Winter squash </li>
        <li>Sweet potatoes</li>
      </ul>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</section>
