<section class="intro">
  <div class="row">
    <div class="small-4 columns left location">
      <p>Now serving: <em>New Haven, CT.</em></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 centered columns">
    

      <h1 class="header-main">Choose a box that's right for you.</h1>
      
    </div>
  </div>
</section>

<div class="form">
  <%= form_for @box, url: boxes_path, :html => {"data-abide" => ''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <section class="select"> <!-- start tabs -->
    <div class="row"> 
      <div class="small-12 columns">
        <dl id="dino-tabs" class="tabs three-up mobile" data-tab>
          <dd data-selection="1">
            <a href="#panel2-1" id="raw-tab">
              <div class="profiles">
                <div class="icon">
                  <h2 class="title"><em>Raw Box</em></h2>
                  <h2 class="price"><em><small>$</small>24</em></h2>
                   <%= image_tag('raw-icon.png') %>
                   <p class="box-select"> <%= f.radio_button(:box_num, 1) %><%= f.label(:box_1, "Raw Box") %></p>
                   
                </div>
               
              </div>
            </a>
          </dd>
          <dd class="active" data-selection="2" id="cook-tab">
            <a href="#panel2-2">
              <div class="profiles">
               <div class="icon">
                  <h2 class="title"><em>Variety Box</em></h2>
                  <h2 class="price"><em><small>$</small>24</em></h2>
                  <%= image_tag('cook-icon.png') %>
                  <p class="box-select"><%= f.radio_button(:box_num, 2, checked: true) %><%= f.label(:box_2, "Culinary") %> </p>

                </div>
                
              </div>
            </a>
          </dd>
          <dd data-selection="3" id="custom-tab">
            <a href="#panel2-3">
              <div class="profiles">
                <div class="icon">
                  <h2 class="title"><em>Custom Box</em></h2>
                  <h2 class="price range"><em><small>$</small>16-<small>$</small>72</em></h2>
                  <%= image_tag('custom-icon.png') %>
                  <p class="box-select"><%= f.radio_button(:box_num, 3) %><%= f.label(:box_3, "Custom") %></p>
                </div>
                
              </div>
            </a>
          </dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="tab-connected">
          <div class="tabs-content-custom">
            <div class="content" id="panel2-1">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>The <strong>Raw Box</strong> is full of nutritious, fresh vegetables that require little to no preparation to enjoy.</p><p> It includes leafy greens, vegetables you can eat raw, and fruit. One box is perfect for 5-6 hearty salads or juices, with fruit to snack on in between.
                </div>
              </div>
            </div>
            <div class="content active" id="panel2-2">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>The <strong>Variety Box</strong> is designed for people who enjoy exposure to a wide range of vegetables and are comfortable with spending time cooking.</p><p> It includes a selection of all seasonal produce from salad greens to eggplant to rutabagas. It's perfect for cooking with our included recipes for 5-6 meals over the week.</p>
                </div>
              </div>
            </div>
            <div class="content" id="panel2-3">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>The <strong>Custom Box</strong> allows you to choose the amount of raw vegetables, cooking vegetables, or fruit you get each week.</p><p> Orders over $40  get free shipping!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="tab-connected tab-bottom">
          <div class="row">
            <div class="small-12 medium-8 columns">
              <div class="outer-box radius rounded">
                <h5 class="centered" id="sample-box-title">A sample box</h5>
                <dl class="accordion" data-accordion>
                  <dd>
                    <a href="#raw_panel">
                      <div class="row">
                        <div class="small-2 columns">
                        <%= f.select :raw_num, options_for_select([0,1,2,3], selected: 1) %>
                        </div>
                        <div class="small-6 columns">
                          Raw pack
                        </div>
                        <div class="small-4 columns">
                          <small>One pack can make 2-3 large salads</small>
                        </div>
                      </div>
                    </a>
                    <div id="raw_panel" class="content active">
                      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       
                    </div>
                  </dd>
                  <dd>
                    <a href="#cook_panel">
                      <div class="row">
                        <div class="small-2 columns">
                        <%= f.select :cook_num, options_for_select([0,1,2,3], selected: 1) %>
                        </div>
                        <div class="small-6 columns">
                          Cooking pack
                        </div>
                        <div class="small-4 columns">
                          <small>One pack can make 2-3 meals</small>
                        </div>
                      </div>
                    </a>
                    <div id="cook_panel" class="content">
                      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       
                    </div>
                  </dd>
                  <dd>
                    <a href="#fruit_panel">
                      <div class="row">
                        <div class="small-2 columns">
                        <%= f.select :fruit_num, options_for_select([0,1,2,3], selected: 1) %>
                        </div>
                        <div class="small-6 columns">
                          Fruit pack
                        </div>
                        <div class="small-4 columns">
                          <small>One pack contains 5-8 pieces of fruit</small>
                        </div>
                      </div>
                    </a>
                    <div id="fruit_panel" class="content">
                      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       
                    </div>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="price-box small-12 medium-4 columns">
              <div class="outer-box radius rounded">
                <div class="row">
                  <div class="small-6 columns small-centered centered">
                    <span class="carrot"><%= image_tag('carrot-bandw.png') %></span>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 columns centered" id="customize-toggle">
                    <h5><strong><em>Want to add or remove shares?</em></strong></h5>
                    <a href="#dino-tabs" class="customize-button">Choose a custom box</a>
                  </div>
                </div>

                <div class="row delivery-row">
                    <div class="delivery-ribbon centered"><h6 class="delivery-ribbon-content">Free delivery for orders over $40!</h6></div>
                </div>

                <div class="row">
                  <div class="small-12 columns totals">
                    <h5>Subtotal:  $<span id="price_sum">24</span>.00</h5>
                    <h5>Delivery:  $<span id="price_delivery">4</span>.00</h5>
                    <h5><strong>Total: $<span id="price_total">28</span>.00</h5>
                  </div>
                  <div class="small-12 columns checkout centered">
                    <div class="checkout-button">Select this box</div>
                  </div>
                </div>
               
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section><!-- end tabs -->


     
      
<div class="row">
  <div class="small-12 small-centered columns">
    <fieldset>
        <%# BOX OPTIONS ===================================%>

        <div class="row">
          <div class="large-12 large-centered columns">
            <h3 class="subheader">2. Select your preferences</h3>
          </div>
        </div>

        <!--
        <div class="row">
          <div class="large-12 columns panel">
            <p><strong>Subscription packages</strong><br />
              Contact us for discounted rates on 1 month, 3 month upfront subscriptions at <%= mail_to "hello@farmivore.com","hello@farmivore.com" %>
            </p>
          </div>
        </div>-->
        <div class="row">
          <div class="large-12 columns">
            <p>We currently deliver to locations within the <strong>city of New Haven.</strong> Choose your neighborhood:</p>
            <%= f.select(:neighborhood, options_for_select([["East Rock","East Rock"],["Lighthouse Point", "Lighthouse Point"],["Other", "Other"]])) %>

            <p>We deliver <strong>all our orders on Saturday</strong> in order to ensure all our customers receive high quality produce that has never been stored in our warehouses.</p>
            <p>We are currently beta testing Wednesday delivery. If you'd like to sign up for a Wednesday delivery, email us at <%= mail_to "hello@farmivore.com","hello@farmivore.com" %>.

          </div>
        </div>

        <div class="row">

          <div class="large-6 columns">
            <%= f.text_field :firstname, :placeholder => "Your first name", :required => "" %>
            <small class="error">You must enter your first name.</small>
          </div>
          <div class="large-6 columns">
            <%= f.text_field :lastname, :placeholder => "Last name", required: "" %>
            <small class="error">You must enter your last name.</small>
          </div>
        </div>

        <div class="row">

          <div class="large-5 columns">
            <%= f.text_field :email, :placeholder => "Your email address", :type => 'email', :required => '' %>
            <small class="error">Email must be of a valid format.</small>
          </div>
          <div class="large-3 columns"><%= f.text_field :phone, :placeholder => "Your phone number", :required => '' %> </div>
          <small class="error">You must enter a phone number</small>
          <div class="large-4 columns">&nbsp;</div>
        </div>


      <div class="row">
        <div class="large-8 columns">
          <p><em>Your delivery address</em><br />
            <div class="row">
              <div class="large-12 columns">
               <%= f.text_field :street, :placeholder => "Street address line 1", required: '' %>
               <small class="error">You must enter a street address</small>
               <%= f.text_field :street2, :placeholder => "Street address line 2" %>
              </div>
            </div>
            <div class="row">
              <div class="large-4 columns"><%= f.text_field :city, :placeholder => "City", required: '' %></div>
              <small class="error">You must enter a city</small>
              <div class="large-4 columns"><%= f.text_field :state, :placeholder => "State", required: '' %></div>
              <small class="error">You must enter a state</small>
              <div class="large-4 columns"><%= f.text_field :zip, :placeholder => "Zip", required: '' %></div>
              <small class="error">You must enter a zip code</small>
            </div>
          </p>
        </div>
      </div>

      <div class="row">
          <div class="large-12 columns">
            <!--
            <ul class="inline-list">
              <li><%= f.radio_button(:frequency, 1) %>
              <%= f.label(:weekly, "Once per week") %></li>
              <li><%= f.radio_button(:frequency, 2) %>
              <%= f.label(:biweekly, "Once per two weeks") %></li>
            </ul>-->
            <p>I want my <strong>first delivery</strong>   on the following date:<br/>
              <%= f.select(:startdate, options_for_select([["Saturday, Dec 21","Sat Dec 21"],["Saturday, January 4", "Sat Jan 4"],["Saturday, January 11", "Sat Jan 11"]])) %>
              <%= f.check_box(:text_me) %>
              <%= f.label(:text_me, "Notify me by text the status of my delivery on Saturday morning") %>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <p>We deliver your box as <strong>early as possible on Saturday.</strong> If you have a preferred time of delivery, however, please note it below and we will try and accomodate you.<br />
              <%= f.select(:delivery_preference, options_for_select([["No preference",1],["Saturday morning, 8am-10am",2],["Saturday lunch, 10am-12pm",3],["Saturday afternoon, 12pm-2pm",4],["Saturday evening, 3pm-5pm",5]])) %>
              

            </p>
          </div>
        </div>

      <div class="row">
        <div class="large-12 columns">
            <%= f.check_box(:call_me) %>
            <%= f.label(:call_me, "Call me when you arrive") %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p><%= f.label(:instructions, "Please leave detailed instructions for the deliveryperson if you are not available. We cannot store your box overnight and must donate it if you are unavailable.") %></p>
          <%= f.text_area :instructions, :placeholder => "Examples: Buzz apartment #202, leave in foyer. --OR-- Leave with doorman.  --OR-- leave on back porch.", required: '' %>

          <small class="error">Please enter instructions for if you are not available</small>
        </div>
      </div>


      <%= f.submit 'Checkout', class: "button" %>
  <% end %>
    </fieldset>
  </div>
</div>

