<section class="intro">
  <div class="row">
    <div class="small-4 columns left location">
      <p>Now serving: <em>New Haven, CT.</em></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 centered columns">

      <h1 class="header-main">Choose a box that's right for you.</h1>
      
    </div>
  </div>
</section>

<div class="form">
  <%= form_for @box, url: boxes_path, :html => {"data-abide" => ''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <section class="select"> <!-- start tabs -->
    <div class="row"> 
      <div class="small-12 columns">
        <dl id="dino-tabs" class="tabs three-up mobile" data-tab>
          <dd data-selection="1">
            <a href="#panel2-1" id="raw-tab">
              <div class="profiles">
                <div class="icon">
                  <h2 class="title"><em>Raw Box</em></h2>
                  <h2 class="price"><em><small>$</small>24</em></h2>
                   <%= image_tag('raw-icon.png') %>
                   <p class="box-select"> <%= f.radio_button(:box_num, 1) %><%= f.label(:box_1, "Raw Box") %></p>
                   
                </div>
               
              </div>
            </a>
          </dd>
          <dd class="active" data-selection="2" id="cook-tab">
            <a href="#panel2-2">
              <div class="profiles">
               <div class="icon">
                  <h2 class="title"><em>Variety Box</em></h2>
                  <h2 class="price"><em><small>$</small>24</em></h2>
                  <%= image_tag('cook-icon.png') %>
                  <p class="box-select"><%= f.radio_button(:box_num, 2, checked: true) %><%= f.label(:box_2, "Culinary") %> </p>

                </div>
                
              </div>
            </a>
          </dd>
          <dd data-selection="3" id="custom-tab">
            <a href="#panel2-3">
              <div class="profiles">
                <div class="icon">
                  <h2 class="title"><em>Custom Box</em></h2>
                  <h2 class="price range"><em><small>$</small>16-<small>$</small>72</em></h2>
                  <i class="fa fa-hand-o-up fa-5x"></i>
                  <%= image_tag('custom-icon.png') %>
                  <p class="box-select"><%= f.radio_button(:box_num, 3) %><%= f.label(:box_3, "Custom") %></p>
                </div>
                
              </div>
            </a>
          </dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="tab-connected">
          <div class="tabs-content-custom">
            <div class="content" id="panel2-1">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>The <strong>Raw Box</strong> is full of nutritious, fresh vegetables that require little to no preparation to enjoy.</p><p> It includes leafy greens, vegetables you can eat raw, and fruit. One box is perfect for 5-6 hearty salads or juices, with fruit to snack on in between.
                </div>
              </div>
            </div>
            <div class="content active" id="panel2-2">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>The <strong>Variety Box</strong> is designed for people who enjoy exposure to a wide range of vegetables and are comfortable with spending time cooking.</p><p> It includes a selection of all seasonal produce from salad greens to eggplant to rutabagas. It's perfect for cooking with our included recipes for 5-6 meals over the week.</p>
                </div>
              </div>
            </div>
            <div class="content" id="panel2-3">
              <div class="row">
                <div class="small-9 large-6 columns large-centered small-centered centered">
                  <p>The <strong>Custom Box</strong> allows you to choose the amount of raw vegetables, cooking vegetables, or fruit you get each week.</p><p> Orders over $40  get free shipping!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="tab-connected tab-bottom">
          <div class="row">
            <div class="small-12 medium-8 columns">
              <div class="outer-box radius rounded">
                <h5 class="centered" id="sample-box-title">What's inside a Variety Box</h5>
                <dl class="accordion" data-accordion>
                  <dd>
                    <a href="#raw_panel" class="panel-head">
                      <div class="row">
                        <div class="small-12 medium-10 columns">
                          <div class="row">
                            <div class="small-3 medium-3 columns">
                              <%= f.select :raw_num, options_for_select([['None $0',0],['Small $8',1],['Med $16',2],['Large $24',3]], selected: 1) %>
                              <h4 class="static-select"><span id="box_raw_num_text">Small</span></h4>
                            </div>
                            <div class="small-9 medium-9 columns">
                              <h4>bundle of raw vegetables</h4>
                            </div>
                          </div>
                          <div class="row">
                            <div class="medium-8 columns medium-centered">
                              <small><em id="box_raw_num_qty">enough for 2-3 large salads</em></small>
                            </div>
                          </div>
                        </div>
                        <div class="small-12 medium-2 columns centered">
                          <span class="expand_me">See sample<br /><i class="fa fa-tasks fa-3x"></i></span>
                        </div>
                      </div>
                    </a>
                    <div id="raw_panel" class="content">
                      <ul class="raw_panel_subs" id="raw_sub_0">
                        <li>
                          <small><em>No raw vegetables included.</em></small>
                        </li>
                      </ul>
                      <ul class="raw_panel_subs" id="raw_sub_1">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/beets-golden.png')%></li>
                            <li class="desc">Golden beets</li>
                            <li class="qty">2 beets</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/radish-black.png')%></li>
                            <li class="desc">Black radishes</li>
                            <li class="qty">1 bunch</li>
                            <li class="farm">Red Fire Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/greens-mixed.png')%></li>
                            <li class="desc">Asian salad mix</li>
                            <li class="qty">1/2 lb</li>
                            <li class="farm">Waldingfield Farm</li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="raw_panel_subs" id="raw_sub_2">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/beets-golden.png')%></li>
                            <li class="desc">Golden beets</li>
                            <li class="qty">2 beets</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/radish-black.png')%></li>
                            <li class="desc">Black radishes</li>
                            <li class="qty">1 bunch</li>
                            <li class="farm">Red Fire Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/greens-mixed.png')%></li>
                            <li class="desc">Asian salad mix</li>
                            <li class="qty">1 lb</li>
                            <li class="farm">Waldingfield Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/swisschard.png')%></li>
                            <li class="desc">Swiss Chard</li>
                            <li class="qty">1 bunch</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/carrots-baby.png')%></li>
                            <li class="desc">Baby carrots</li>
                            <li class="qty">1 bunch</li>
                            <li class="farm">Waldingfield Farm</li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="raw_panel_subs" id="raw_sub_3">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/beets-golden.png')%></li>
                            <li class="desc">Golden beets</li>
                            <li class="qty">4 beets</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/radish-black.png')%></li>
                            <li class="desc">Black radishes</li>
                            <li class="qty">1 bunch</li>
                            <li class="farm">Red Fire Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/greens-mixed.png')%></li>
                            <li class="desc">Asian salad mix</li>
                            <li class="qty">1 lb</li>
                            <li class="farm">Waldingfield Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/swisschard.png')%></li>
                            <li class="desc">Swiss Chard</li>
                            <li class="qty">2 bunches</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/carrots-baby.png')%></li>
                            <li class="desc">Baby carrots</li>
                            <li class="qty">1 bunch</li>
                            <li class="farm">Waldingfield Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/fennel.png')%></li>
                            <li class="desc">Fennel</li>
                            <li class="qty">1 bulb</li>
                            <li class="farm">Stone Gardens Farm</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </dd>
                  <dd>
                    <a href="#cook_panel" class="panel-head">
                      <div class="row">
                        <div class="small-12 medium-10 columns">
                          <div class="row">
                            <div class="small-3 medium-3 columns">
                              <%= f.select :cook_num, options_for_select([['None $0',0],['Small $8',1],['Med $16',2],['Large $24',3]], selected: 1) %>
                              <h4 class="static-select"><span id="box_cook_num_text">Small</span></h4>
                            </div>
                            <div class="small-9 medium-9 columns">
                              <h4>bundle of cooking vegetables</h4>
                            </div>
                          </div>
                          <div class="row">
                            <div class="medium-8 columns medium-centered">
                              <small><em id="box_cook_num_qty">enough for 2-3 dishes</em></small>
                            </div>
                          </div>
                        </div>
                        <div class="small-12 medium-2 columns centered">
                          <span class="expand_me">See sample<br /><i class="fa fa-tasks fa-3x"></i></span>
                        </div>
                      </div>
                    </a>
                    <div id="cook_panel" class="content">
                      <ul class="cook_panel_subs" id="cook_sub_0">
                        <li>
                          <small><em>No cooking vegetables included.</em></small>
                        </li>
                      </ul>
                      <ul class="cook_panel_subs" id="cook_sub_1">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/rosemary.png')%></li>
                            <li class="desc">Rosemary</li>
                            <li class="qty">2 stalks</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/potatoes-mixedheirloom.png')%></li>
                            <li class="desc">Mixed heirloom potatoes</li>
                            <li class="qty">1 lb</li>
                            <li class="farm">Red Fire Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/leek.png')%></li>
                            <li class="desc">Organic leeks</li>
                            <li class="qty">1 leek</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="cook_panel_subs" id="cook_sub_2">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/rosemary.png')%></li>
                            <li class="desc">Rosemary</li>
                            <li class="qty">2 stalks</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/potatoes-mixedheirloom.png')%></li>
                            <li class="desc">Mixed heirloom potatoes</li>
                            <li class="qty">1 lb</li>
                            <li class="farm">Red Fire Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/leek.png')%></li>
                            <li class="desc">Organic leeks</li>
                            <li class="qty">2 leeks</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/bokchoy-baby.png')%></li>
                            <li class="desc">Baby bok choy</li>
                            <li class="qty">1 bag</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/brusselsprouts.png')%></li>
                            <li class="desc">Brussel sprouts</li>
                            <li class="qty">1 stalk</li>
                            <li class="farm">Stone Gardens Farm</li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="cook_panel_subs" id="cook_sub_3">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/rosemary.png')%></li>
                            <li class="desc">Rosemary</li>
                            <li class="qty">2 stalks</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/potatoes-mixedheirloom.png')%></li>
                            <li class="desc">Mixed heirloom potatoes</li>
                            <li class="qty">2 lb</li>
                            <li class="farm">Red Fire Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/leek.png')%></li>
                            <li class="desc">Organic leeks</li>
                            <li class="qty">2 leeks</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/bokchoy-baby.png')%></li>
                            <li class="desc">Baby bok choy</li>
                            <li class="qty">2 bags</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/brusselsprouts.png')%></li>
                            <li class="desc">Brussel sprouts</li>
                            <li class="qty">2 stalks</li>
                            <li class="farm">Stone Gardens Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/kohlrabi.png')%></li>
                            <li class="desc">Kohlrabi</li>
                            <li class="qty">1 head</li>
                            <li class="farm">Riverbank Farm</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </dd>
                  <dd>
                    <a href="#fruit_panel" class="panel-head">
                      <div class="row">
                        <div class="small-12 medium-10 columns">
                          <div class="row">
                            <div class="small-3 medium-3 columns">
                              <%= f.select :fruit_num, options_for_select([['None $0',0],['Small $8',1],['Med $16',2],['Large $24',3]], selected: 1) %>
                              <h4 class="static-select"><span id="box_fruit_num_text">Small</span></h4>
                            </div>
                            <div class="small-9 medium-9 columns">
                              <h4>bundle of fruit</h4>
                            </div>
                          </div>
                          <div class="row">
                            <div class="medium-8 columns medium-centered">
                              <small><em id="box_fruit_num_qty">4-8 pieces</em></small>
                            </div>
                          </div>
                        </div>
                        <div class="small-12 medium-2 columns centered">
                          <span class="expand_me">See sample<br /><i class="fa fa-tasks fa-3x"></i></span>
                        </div>
                      </div>
                    </a>
                    <div id="fruit_panel" class="content">
                      <ul class="fruit_panel_subs" id="fruit_sub_0">
                        <li>
                          <small><em>No fruits included.</em></small>
                        </li>
                      </ul>
                      <ul class="fruit_panel_subs" id="fruit_sub_1">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/apple-mutsu.png')%></li>
                            <li class="desc">Mutsu Crispin apples</li>
                            <li class="qty">3 apples</li>
                            <li class="farm">Lyman Orchards</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/pear-anjou.png')%></li>
                            <li class="desc">Anjou pears</li>
                            <li class="qty">3 pears</li>
                            <li class="farm">Lyman Orchards</li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="fruit_panel_subs" id="fruit_sub_2">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/apple-mutsu.png')%></li>
                            <li class="desc">Mutsu Crispin apples</li>
                            <li class="qty">6 apples</li>
                            <li class="farm">Lyman Orchards</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/pear-anjou.png')%></li>
                            <li class="desc">Anjou pears</li>
                            <li class="qty">6 pears</li>
                            <li class="farm">Lyman Orchards</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/grapefruit.png')%></li>
                            <li class="desc">Caribbean grapefruit</li>
                            <li class="qty">1 grapefruit</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="fruit_panel_subs" id="fruit_sub_3">
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/apple-mutsu.png')%></li>
                            <li class="desc">Mutsu Crispin apples</li>
                            <li class="qty">6 apples</li>
                            <li class="farm">Lyman Orchards</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/pear-anjou.png')%></li>
                            <li class="desc">Anjou pears</li>
                            <li class="qty">6 pears</li>
                            <li class="farm">Lyman Orchards</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/grapefruit.png')%></li>
                            <li class="desc">Caribbean grapefruit</li>
                            <li class="qty">2 grapefruit</li>
                            <li class="farm">Urban Oaks Farm</li>
                          </ul>
                        </li>
                        <li>
                          <ul class="small-block-grid-4 line-item">
                            <li class="pic"><%= image_tag('produce_icons/apple-northernspy.png')%></li>
                            <li class="desc">Northern Spy apples</li>
                            <li class="qty">3 apples</li>
                            <li class="farm">Belltown Hill Orchards</li>
                          </ul>
                        </li>
                      </ul>
                       
                    </div>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="price-box small-12 medium-4 columns">
              <div class="outer-box radius rounded">
                <div class="row">
                  <div class="small-6 columns small-centered centered">
                    <span class="carrot"><%= image_tag('carrot-bandw.png') %></span>
                  </div>
                </div>
                <div class="row">
                  <div class="small-12 columns centered" id="customize-toggle">
                    <h5><strong><em>Want to add or remove bundles?</em></strong></h5>
                    <a href="#dino-tabs" class="customize-button">Choose a custom box</a>
                  </div>
                </div>

                <div class="row delivery-row">
                    <div class="delivery-ribbon centered"><h6 class="delivery-ribbon-content">Free delivery for orders over $40!</h6></div>
                </div>

                <div class="row">
                  <div class="small-12 columns totals">
                    <h5>Subtotal:  $<span id="price_sum">24</span>.00</h5>
                    <h5>Delivery:  $<span id="price_delivery">4</span>.00</h5>
                    <h5><strong>Total: $<span id="price_total">28</span>.00</h5>
                  </div>
                  <div class="small-12 columns checkout centered">
                    <a class="checkout-button">Select this box</a>
                  </div>
                </div>
               
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section><!-- end tabs -->


     
<!--  begin delivery preferences -->
<div class="row">
  <div class="small-12 small-centered columns">
    <fieldset class="delivery_preferences" id="delivery_preferences">

      <div class="row">
        <div class="small-12 columns centered">
          <h2 class="header">Delivery Preferences</h2>
          <h3 class="subheader">City of New Haven only</h3>
        </div>
      </div>
      <div class="row">
        <div class="small-6 small-offset-3 columns">
          <div class="row">
            <div class="small-6 columns">
               <%= f.label :neighborhood, "Select your neighborhood", html_options = {class: "right inline", for: "box_neighborhood"} %>
            </div>
            <div class="small-6 columns">
               <%= f.select(:neighborhood, options_for_select([["East Rock","East Rock"],["Lighthouse Point", "Lighthouse Point"],["Other", "Other"]])) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-offset-2 columns">
           <p>All deliveries go out each week on <strong>Saturday</strong>, immediately after we pick up the produce from farmers. If you are interested in piloting Wednesday delivery, email us at <%= mail_to "hello@farmivore.com","hello@farmivore.com" %>.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-8 small-offset-2 columns">
          <h6 class="form-header">Sign up!</h6>
          <div class="row">
            <div class="small-6 columns">
              <%= f.text_field :firstname, :placeholder => "Your first name", :required => "" %>
              <small class="error">You must enter your first name.</small>
            </div>
            <div class="small-6 columns">
              <%= f.text_field :lastname, :placeholder => "Last name", required: "" %>
              <small class="error">You must enter your last name.</small>
            </div>
          </div>

          <div class="row">
            <div class="small-6 columns">
              <%= f.text_field :email, :placeholder => "Your email address", :type => 'email', :required => '' %>
              <small class="error">Email must be of a valid format.</small>
            </div>
            <div class="small-4 columns"><%= f.text_field :phone, :placeholder => "Your phone number", :required => '' %> </div>
            <small class="error">You must enter a phone number</small>
          </div>

          <h6 class="form-header">Your delivery address</h6>
          <div class="row">
            <div class="small-12 columns">
               <%= f.text_field :street, :placeholder => "Street address line 1", required: '' %>
               <small class="error">You must enter a street address</small>
               <%= f.text_field :street2, :placeholder => "Street address line 2" %>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns"><%= f.text_field :city, :placeholder => "City", required: '' %></div>
            <small class="error">You must enter a city</small>
            <div class="small-4 columns"><%= f.text_field :state, :placeholder => "State", required: '' %></div>
            <small class="error">You must enter a state</small>
            <div class="small-4 columns"><%= f.text_field :zip, :placeholder => "Zip", required: '' %></div>
            <small class="error">You must enter a zip code</small>
          </div>

          <h6 class="form-header">Delivery options</h6>
          <div class="row">
            <div class="small-12 columns">
              <%= f.label :startdate, "I want my first delivery on the following date:" %>
              <%= f.select(:startdate, options_for_select([["Saturday, January 4", "Sat Jan 4"],["Saturday, January 11", "Sat Jan 11"]])) %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
                <%= f.label :delivery_preference, "Time preference (default: as early as possible)" %>
                  <%= f.select(:delivery_preference, options_for_select([["No preference",1],["Saturday morning, 8am-10am",2],["Saturday lunch, 10am-12pm",3],["Saturday afternoon, 12pm-2pm",4],["Saturday evening, 3pm-5pm",5]])) %>
                </p>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">

              <%= f.check_box(:text_me) %>
              <%= f.label(:text_me, "Notify me by text the status of my delivery") %>
              <br />
              <%= f.check_box(:call_me) %>
              <%= f.label(:call_me, "Call me when you arrive") %>
            </div>
          </div>
        
          <h6 class="form-header">Instructions</h6>
          <div class="row">
            <div class="small-12 columns">
              <%= f.label(:instructions, "Please leave detailed instructions for the deliveryperson if you are not available. (We cannot return at a later time to your residence).") %></p>
              <%= f.text_area :instructions, :placeholder => "Examples: Buzz apartment #202, leave in foyer. --OR-- Leave with doorman.  --OR-- leave on back porch.", required: '' %>

              <small class="error">Please enter instructions for if you are not available</small>
            </div>
          </div>

        </div>
      </div>

      <div class="centered">
        <%= f.submit 'Checkout!', class: "order-button" %>
      </div>
     <% end %>
    </fieldset>
  </div>
</div>

