<section class="intro">
  <div class="row">
   <div class="small-12 columns left location">
  <a href="#" data-reveal-id="myModal">
  (
  <span data-tooltip class="has-tip" title="Click to let us know!">Want us to serve your city next?</span>
  )
  </a>
  </div>
  </div>
  <div class="reveal-modal-bg" style="display: none"></div>
    <div id="myModal" class="reveal-modal" data-reveal>
      <p class="lead">Tell us where you are,and we'll let you know<br/>when we launch near you!</p>
      <%= form_for :zipcode, url: zipcodes_path do |f| %>
        <%= f.text_field(:zipcode) %>
        <%= f.text_field(:email) %>
        <%= f.submit %>
      <% end %>
      <p>Interested in selling your food?<br/><a href="#">Let us know</a></p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    

    <div class="row">
      <div class="small-12 columns centered">
        <h1 class="header">Eat from farms in the Northeast<h1>
        <h4 class="subheader">Try our winter selection. Available through March 2014.</h4>
      </div>
    </div>
</section>



<div class="form">
  <%= form_for @box, url: boxes_path, :html => {"data-abide" => ''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<!-- module chooser -->
   <%= render 'shared/module_choice', f: f %>
     
<!--  begin delivery preferences -->
  <div id="delivery_preferences">
    <%= render 'shared/delivery_preferences', f: f %>
  </div>

 <% end %>
</div>
