<section class="intro">
  <div class="row">
    <div class="small-12 columns left location">
      <p><a href="mailto:hello@farmivore.com?Subject=Delivery%20Locations&Body=Please%20add%20(my%20city)%20soon!">(<span data-tooltip class="has-tip" title="Click to let us know!">Want us to serve your city next?</span>)</a></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns centered">
      <h1 class="header">Eat like a real New Yorker<h1>
      <h4>Try our winter selection from New England farms</h4>
      <h5 class="subheader"><em>Only available through March</em></h5>
    </div>
  </div>
</section>



<div class="form">
  <%= form_for @box, url: boxes_path, :html => {"data-abide" => ''} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="row">
    <div class="small-12 columns module-select">
      <div class="row">

        <div class="small-12 medium-4 columns right" id="no-customize-modules">
           <dl class="tabs vertical right" data-tab>
              <dd class="active"><a href="#panel1a">Description of module 1</a></dd>
              <dd><a href="#panel2a">Description of module 2</a></dd>
              <dd><a href="#panel3a">Description of module 3</a></dd>
              <dd><a href="#panel4a">Description of module 4</a></dd>
              <dd><a href="#panel5a">Description of module 5</a></dd>
              <dd><a href="#panel6a">Description of module 6</a></dd>
            </dl>
        </div>

        <div class="small-12 medium-4 columns right" id="customize-modules">
           <dl class="tabs vertical right" data-tab>
              <dd class="active"><a href="#panel1a">Description of module 1<br /> <%= Box.module_price_string(1,false) %>
       x   <%= f.number_field(:module_1, value: 1, in: 0...6, :"data-price" => Box.module_price(1), class: "module-select") %>
              </a></dd>
              <dd><a href="#panel2a">Description of module 2<br /> <%= Box.module_price_string(2,false) %>
       x      <%= f.number_field(:module_2, value: 1, in: 0...6, :"data-price" => Box.module_price(2), class: "module-select") %>
              </a></dd>
              <dd><a href="#panel3a">Description of module 3<br /> <%= Box.module_price_string(3,false) %>
       x     <%= f.number_field(:module_3, value: 1, in: 0...6, :"data-price" => Box.module_price(3), class: "module-select") %>
              </a></dd>
              <dd><a href="#panel4a">Description of module 4<br /> <%= Box.module_price_string(4,false) %>
       x    <%= f.number_field(:module_4, value: 1, in: 0...6, :"data-price" => Box.module_price(4), class: "module-select") %>
              </a></dd>
              <dd><a href="#panel4a">Description of module 5<br /> <%= Box.module_price_string(5,false) %>
       x    <%= f.number_field(:module_5, value: 1, in: 0...6, :"data-price" => Box.module_price(5), class: "module-select") %>
              </a></dd>
              <dd><a href="#panel4a">Description of module 6<br /> <%= Box.module_price_string(6,false) %>
       x    <%= f.number_field(:module_6, value: 1, in: 0...6, :"data-price" => Box.module_price(6), class: "module-select") %>
              </a></dd>
            </dl>
        </div>

        <div class="small-12 medium-8 columns tabs-content">
          <div class="content active" id="panel1a">
          </div>
          <div class="content" id="panel2a">
            image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />
          </div>
          <div class="content" id="panel3a">
            image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />
          </div>
          <div class="content" id="panel4a">
            image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />
          </div>
          <div class="content" id="panel5a">
            image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />
          </div>
          <div class="content" id="panel6a">
            image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />image!!!<br />
          </div>
        </div>

        <div class="price-box small-12 medium-4 right columns">
          <div class="outer-box radius rounded">
            <div class="row">
              <div class="small-6 columns small-centered centered">
                <span class="carrot"><%= image_tag('carrot-bandw.png') %></span>
              </div>
            </div>

            <div class="row delivery-row">
                <div class="delivery-ribbon centered"><h6 class="delivery-ribbon-content">Free delivery for orders over $40!</h6></div>
            </div>

            <div class="row">
              <div class="small-12 columns centered" id="customize-toggle">
                <a href="#" class="customize-button">Build a bigger box</a>
                <hr />
              </div>
            </div>

            <div class="row select-frequency">
              <div class="small-6 columns">
                <%= f.label :frequency, "Frequency", html_options = {class: "right inline", for: "select-frequency"} %>
              </div>
              <div class="small-6 columns">
                <%= f.select(:frequency, options_for_select([
                  ["Weekly",1],
                  ["Every 2 weeks",2],
                  ["Every month",4]
                ])) %>
                <%# In editing the frequency, remember to edit jscript which changes the Total: text %>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns totals">
                <h5>Subtotal:  <span id="price_sum">$40.00</span></h5>
                <h5>Delivery:  $<span id="price_delivery">0.00</span></h5>
                <h5>Total per <span id="total_period">week</span>: <strong><span id="price_total">$40.00</span></strong>
              </div>
              <div class="small-12 columns checkout centered">
                <a class="checkout-button">Select this box</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




     
<!--  begin delivery preferences -->
  <div id="delivery_preferences">
    <%= render 'shared/delivery_preferences', f: f %>
  </div>

 <% end %>
</div>
