  

 <!--  begin delivery preferences -->
<div class="row">
  <div class="small-12 small-centered columns">
    <fieldset class="delivery_preferences">

      <div class="row">
        <div class="small-12 columns centered">
          <h2>Delivery Preferences</h2>
          <h4 class="subheader">Serving Manhattan, Brooklyn, Queens, &amp; the Bronx</h4>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-8 small-centered medium-8 columns">
          <p>Residential deliveries go out on <strong>Saturday</strong>, immediately after we receive produce from farmers.

          <br />
           <em class="wed_delivery">If you are interested in piloting Wednesday workplace delivery, <%= mail_to "hello@farmivore.com","email us!" %></em>
           </p>
         </div>
       </div>

      <div class="row">
        <div class="small-12 medium-8 small-centered medium-8 columns">
          

          <h6 class="form-header">The address where you will receive the box</h6>

          <div class="row">
            <div class="small-12 columns">
               <%= f.text_field :street, :placeholder => "Street address line 1", required: '' %>
               <small class="error">You must enter a street address</small>
               <%= f.text_field :street2, :placeholder => "Street address line 2" %>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns"><%= f.text_field :city, :placeholder => "City", required: '' %></div>
            <small class="error">You must enter a city</small>
            <div class="small-4 columns"><%= f.text_field :state, :placeholder => "State", required: '' %></div>
            <small class="error">You must enter a state</small>
            <div class="small-4 columns"><%= f.text_field :zip, :placeholder => "Zip", required: '' %></div>
            <small class="error">You must enter a zip code</small>
          </div>


          
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h6 class="form-header">Delivery options</h6>
        
              <div id="delivery-datetime-1">
                <div class="row">
                <% 
                  firstdate = Date.commercial(Date.today.year, 1+Date.today.cweek, 6)
                  seconddate = firstdate + 7
                  thirddate = seconddate + 7
                  fourthdate = seconddate + 14
                  fifthdate = seconddate + 21
                  sixthdate = seconddate + 28
                %>
                <%= f.label :startdate, "I want my first delivery on:" %>
                <%= f.select(:startdate, options_for_select([[firstdate.strftime("%A, %B %d"), firstdate],[seconddate.strftime("%A, %B %d"), seconddate],[thirddate.strftime("%A, %B %d"), thirddate],[fourthdate.strftime("%A, %B %d"), fourthdate],[fifthdate.strftime("%A, %B %d"), fifthdate], [sixthdate.strftime("%A, %B %d"), sixthdate]])) %>
                </div>
                <div class="row">
                  <%= f.label :delivery_preference, "Time preference   &nbsp; <small>Default is as early as possible</small>".html_safe %>
                  <%= f.select(:delivery_preference, options_for_select([["No preference",1],["Saturday morning, 8am-10am",2],["Saturday lunch, 10am-12pm",3],["Saturday afternoon, 12pm-2pm",4],["Saturday evening, 3pm-5pm",5]])) %>
                
                </div>
              </div>


            </div>
            <div class="small-12 medium-6 columns centered zip_action">
              <p><span id="zip_action"></span></p>
            </div>
          </div>
        
        
           
     
          <h6 class="form-header">Your name and information</h6>
          <div class="row">
            <div class="small-6 columns">
              <%= f.text_field :firstname, :placeholder => "Your first name", :required => "" %>
              <small class="error">You must enter your first name.</small>
            </div>
            <div class="small-6 columns">
              <%= f.text_field :lastname, :placeholder => "Last name", :required => "" %>
              <small class="error">You must enter your last name.</small>
            </div>
          </div>

          <div class="row">
            <div class="small-6 columns">
              <%= f.text_field :email, :placeholder => "Your email address", :type => 'email', :required => '', :pattern => "\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\Z/i" %>
              <small class="error">Email must be of a valid format.</small>
            </div>
            <div class="small-4 columns"><%= f.text_field :phone, :placeholder => "Your phone number", :required => '' %> </div>
            <small class="error">You must enter a phone number</small>
          </div>

          

          

          <div class="row">
            <div class="small-12 columns">

              <%= f.check_box(:text_me, html_options = {checked: true}) %>
              <%= f.label(:text_me, "Notify me by text the status of my delivery") %>
              <br />
              <%= f.check_box(:call_me, html_options = {checked: true}) %>
              <%= f.label(:call_me, "Call me when you arrive") %>
            </div>
          </div>
        
          <h6 class="form-header">Instructions</h6>
          <div class="row">
            <div class="small-12 columns">
              <%= f.label(:instructions, "Please leave detailed instructions for the deliveryperson if you are not available. (We cannot return at a later time to your residence).") %></p>
              <%= f.text_area :instructions, :placeholder => "Examples: Buzz apartment #202, leave in foyer. --OR-- Leave with doorman.  --OR-- leave on back porch.", required: '' %>

              <small class="error">Please enter instructions for if you are not available</small>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              <%= f.label(:promo, "Have a promo or invite code? Enter it here (discount will be applied on confirmation screen") %></p>
              <%= f.text_field :promo, :placeholder => "", required: '' %>

              <small class="error">Please enter instructions for if you are not available</small>
            </div>
          </div>

        </div>
      </div>

      <div class="centered">
        <%= f.submit 'Checkout!', class: "order-button" %>
      </div>


     
    </fieldset>
  </div>
</div>