<div class="row">
	<div class="small-12 large-12 columns">
		<h3><%= farm.title %></h3>
	</div>
</div>
<div class="row">
	<div class="small-4 large-3 columns">
		<%= image_tag farm.logo.url('medium') %>
	</div>
	<div class="small-8 large-9 columns">
		<table>
		  <tr>
		  	<th></th>
		  	<th>Description</th>
		  	<th>Price</th>
		  	<th>Reserve</th>
		  	
		  </tr>


		  <% #this should be changed to products_at_market_this_week, and incorproate the variables we are passed here
		  # we should also add in thumbnails at the bottom or to the side for each week.  %>
			<%  i=0
				farm.products.each do |product| 
			%>
		  <tr>
		  	<td><%= product.title %></td>
		  	<td><%= product.description %></td>
		  	<td><%= "$ " +  [1.25,2.50,3.00,6.00].sample.to_s + "  per lb" %> </td>
		  	<td>
		  		<% item_name = farm.id.to_s + "___" + product.id.to_s %>
				 <em><div class="">(past)</div></em>
		  		<% # if current week, enable the following...: %>
				 <!-- <label for="<%= item_name%>">
				    <input type="checkbox" id="<%= item_name%>" style="display: none;">
				    <span class="checkbox"></span>

				 </label> -->
      		</td>
		  </tr>
		<% i = i+1 end %>
		
		</table>
	</div>
			
</div>