<section class="box-select">
  <div class="row">
    <div class="small-12 columns"><!-- container -->
      

      <div class="row box-row"><!-- row of boxes -->
        
        <div class="small-12 medium-8 columns right centered"><!-- subscription panel -->
          <div class="row sub-table">
            <h4 class="boldcaps">Subscribe &amp; Join</h4>
            <div class="small-12 medium-6 columns box-display box-middle">
                <div class="image-box-starter">
                  <%= image_tag('simp-v.8/juicebox.png') %>
                </div>
                <div class="image-box-jumbo">
                  <%= image_tag('simp-v.8/Jumbojuice.png') %>
                </div>
                
                
                <span class="boxnum-radio">
                  <%= f.radio_button(:box_num, 5, :checked => true) %>
                  <%= label :box_num_5, 'Standard Box' %>
                  <%= f.radio_button(:box_num, 6) %>
                  <%= label :box_num_6, 'Family Box' %>
                </span>

                 <h2><strong id="subscription-price">$35</strong> <small>per box</small></h2>

                 <p>
                <em>A commitment-free subscription and the best value.</em>
                </p>

                <div class="row select-size">
                  <div class="small-4 columns">
                    <label for="select-size">Size</label>
                  </div>
                  <div class="small-8 columns">
                    <select class="select-size">
                      <option value='5'>7 packs (16oz ea.)</option>
                      <option value='6'>14 packs (16oz ea.)</option>
                    </select>
                  </div>
                </div>

                <div class="row select-frequency">
                  <div class="small-4 columns">
                    <%= f.label :frequency, "Delivery", html_options = {class: "right inline", for: "select-frequency"} %>
                  </div>
                  <div class="small-8 columns">
                    <%= f.select(:frequency, options_for_select([
                      ["Weekly",1],
                      ["Every 2 weeks",2]#,
                      #["Every month",4]
                    ])) %>
                  </div>
                </div>
                
                
                
            </div>

            <div class="small-12 medium-6 columns box-display box-description">
              <p><strong>Preview</strong><br />We send you an email before each delivery, detailing what to expect in your box. </p>
              <p><strong>Pause or skip</strong><br />If you like it, we'll deliver it to you automatically. If not, opt out 3 days before delivery for no charge.</p>
              <p><strong>Juice!</strong><br />With our pre-washed, pre-portioned juice packs, you can juice immediately out of the box. Yum!</p>
             
              <div class="row yes-subscribe">
                  <div class="small-12 columns">
                    <div class="big-button boldcaps checkout-button">Join the club</div>
                  </div>
                </div>
            </div>

          </div>
        </div><!-- end subscription panel -->

        <div class="small-12 medium-4 columns"><!-- single box -->
          <div class="row">
            <div class="small-10 columns small-centered centered single-box">
              <h4 class="boldcaps">Get one box</h4>
              <div class="image-box">
                <%= image_tag('simp-v.8/juicebox.png') %>
              </div>
              <h2><strong>$40</strong> <small>per box</small></h2>
              <p>
                <em>A simple, one-time purchase of a standard box without the subscription benefits. </em>
              </p>
              <span class="boxnum-radio">
                <%= f.radio_button(:box_num, 4) %>
                <%= label :box_num_4, 'Starter Box' %>
              </span>
              <div class="row no-subscribe">
                <div class="small-12 columns">
                  <div class="big-button boldcaps checkout-button single-box-checkout">Buy one box</div>
                </div>
              </div>
              
            </div>
          </div>
        </div><!-- end single box -->

      </div><!-- end row of boxes -->

       <div class="row">
        <div class="small-12 columns trifecta">
          <ul class="small-block-grid-3">
            <li>
              <div class="row">
                <div class="small-12 large-3 columns icon">
                  <%= image_tag('simp-v.8/juiceicon1-75.png') %>
                </div>
                <div class="small-12 large-9 columns">
                  <p><strong>Perfect portions</strong><br />
                    Pre-portioned juice packs make 16 fl. oz. of super fresh juice.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="small-12 large-3 columns icon">
                  <%= image_tag('simp-v.8/juiceicon2-75.png') %>
                </div>
                <div class="small-12 large-9 columns">
                  <p><strong>Quality Ingredients</strong><br />
                    We design our healthy juice packs with all-organic fruits &amp; veggies.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="small-12 large-3 columns icon">
                  <%= image_tag('simp-v.8/juiceicon3-75.png') %>
                </div>
                <div class="small-12 large-9 columns">
                  <p><strong>Free Delivery</strong><br />
                    Pay for quality produce, not shipping. This one’s on us!
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div><!-- end container -->
  </div>
</section>
