<section class="box-select">
  <div class="row">
    <div class="small-12 columns">
      <div class="row">

        <ul class="medium-block-grid-3 small-block-grid-1 box-num centered">
            <li>
              <div class="row">
                <div class="small-10 small-centered columns box-display">
                  <h4>Starter Box</h4>
                  <p>Week's produce for <span data-tooltip class="has-tip" title="Enough to cook 2-3 dinners">1-2 people</span></p>
                  <div class="image-box">
                    <%= image_tag('simp-v.8/Starterbox.png') %>
                    <div class="choose-me">Choose me!</div>
                  </div>
                  <h3>$40 per box</h3>
                  <div class="row no-subscribe">
                    <div class="small-12 columns">
                      Single subscription-free box. <br /><em>Try it out!</em>
                    </div>
                  </div>
                  <span class="boxnum-radio">
                    <%= f.radio_button(:box_num, 1) %>
                    <%= label :box_num_1, 'Starter Box' %>
                  </span>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="small-10 small-centered columns box-display">
                  <h4>Standard Box</h4>
                  <p>Week's produce for <span data-tooltip class="has-tip" title="Enough to cook 2-3 dinners">1-2 people</span></p>
                  <div class="image-box">
                    <%= image_tag('simp-v.8/Standardbox.png') %>
                    <div class="choose-me">Choose me!</div>
                  </div>
                  <h3>$35 per box</h3>
                  <div class="row yes-subscribe">
                    <div class="small-12 columns">
                      Flexible subscription. <br /><em>Opt-out or cancel anytime.</em>
                    </div>
                  </div>
                  <span class="boxnum-radio">
                    <%= f.radio_button(:box_num, 2, :checked => true) %>
                    <%= label :box_num_2, 'Standard Box' %>
                  </span>
                </div>
              </div>
            </li>

            <li>
              <div class="row">
                <div class="small-10 small-centered columns box-display">
                  <h4>Family Box</h4>
                  <p>Week's produce for <span data-tooltip class="has-tip" title="Enough to cook 2-3 dinners">3-4 people</span></p>
                  <div class="image-box">
                    <%= image_tag('simp-v.8/Jumbobox.png') %>
                    <div class="choose-me">Choose me!</div>
                  </div>
                  <h3>$60 per box</h3>
                  <div class="row yes-subscribe">
                    <div class="small-12 columns">
                      Flexible subscription. <br /><em>Opt-out or cancel anytime.</em>
                    </div>
                  </div>
                  <span class="boxnum-radio">
                    <%= f.radio_button(:box_num, 3) %>
                    <%= label :box_num_3, 'Family Box' %>
                  </span>
                </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns centered see-more">
      <h3>Peek inside a typical box</h3>
      <i class="fa fa-caret-down"></i>
      <div class="row">
        <div class="small-12 columns inside-box">
          <p> Hello there</p>
        </div>
      </div>
    </div>
  </div>
</section>
