

<div class="row summary">
      <div class="small-12 columns">
        <%= order.promocode_id.inspect %><br />
        <h3 class="green">Summary</h3>
        <h5><%= order.product.box_num_menu['title'] %>:</h5>
        <p id="boxcountstring"><%= order.box_count_string %></p>

        <h5>Delivery frequency:</h5>
        <p id="frequencystring"><%= order.frequency_string %></p>

        <h5>First delivery</h5>
        <%#Here, we'll loop through 1-7 and set up the menus. We'll set it to "active" when data-week === first_delivery. The first child will have the proper date info in data-date. %>
        <% if charges.nil? %>
          <% (1..7).each do |i| %>
            <p class="first_delivery_date<% if order.delivery_window == i %> active<% end %>" data-week="<%= i %>">
              <span class="selected_date" data-date="<%= Order.fd_date(i, 1) %>">
                <% if order.delivery_window == i %>
                  <%= order.first_delivery_string %>
                <% else %>
                  <%= Order.fd_date_string(i, 1) %> 
                <% end %>
              </span>&nbsp;
              <a href="#" data-options="align:down" data-dropdown="drop<%= i %>">Change &raquo;</a>
              <ul id="drop<%= i %>" class="tiny f-dropdown" data-dropdown-content>
                <% (1..5).each do |n| %>
                <li><a class="dater" data-date="<%= Order.fd_date(i, n)%>"><%= Order.fd_date_string(i, n) %></a></li>
                <% end %>
              </ul>
            </p>
          <% end %>
        <% else %>
          <p><%= order.first_delivery_string %></p>
        <% end %>
          

       
        
        <h3 class="green">Total price</h3>
        <div class="pricer">
          <div class="text-right">Subtotal: <span id="subtotalprice"><%= order.price_string(true) %></span></div>
          <div class="text-right">Free shipping: <span id="shippingprice">$0<%#= order.shipping_string(true) %></div>
          <div class="text-right"><strong>Total: <span id="totalprice"><%= order.total_string(true) %></span></strong></div>
        </div>
        
        <div class="centered">
          <br /><a id="promocode-show">Add a promo code</a><br /><br />

           <div class="row promocode-field">
            <div class="small-10 columns small-centered">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input id="promocode-value" type="text" placeholder="Promo code">
                </div>
                <div class="small-2 columns">
                  <a id="promocode-apply" class="button postfix">Apply</a>
                </div>
              </div>
            </div>
          </div>

          <em>This is a recurring order, but you can pause or cancel at any time.</em>
        </div>

      </div>
    </div>