<h1> Administereth this Site (ﾉ´ヮ´)ﾉ*:･ﾟ✧  </h1>

<h1>List of our places</h1>
 
<table>
  <tr>
    <th>Place ID</th>
    <th>City</th>
    <th>State</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 
  <% @places.each do |place| %>
    <tr>
      <td><%= place.id %></td>
      <td><%= place.title %></td>
      <td><%= place.state %></td>
      <td><%= link_to 'Edit', edit_place_path(place.id) %></td>
      <td><%= link_to 'Delete', place_path(place.id), method: "delete" %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to 'Create a new place', new_place_path %>
</p>



<h1>List of our farms</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Pickups</th>
    <th>Add a pickup</th>
  </tr>
 
  <% @farms.each do |farm| %>
    <tr>
      <td><%= farm.title %></td>
      <td><%= farm.address %></td>
      <td><%= farm.description %></td>
      <td><%= link_to 'Edit', edit_farm_path(farm.id) %></td>
      <td><%= link_to 'Delete', farm_path(farm.id), method: "delete" %></td>
      <td> 
          <% farm.pickups.each do |pickup| %>
          <%= pickup.address %> (<%= link_to 'Edit', edit_farm_pickup_path(farm.id, pickup.id) %>, <%= link_to 'Delete', farm_pickup_path(farm.id, pickup.id), method:"delete" %>)
          <% end %>
        </td>
      <td><%= link_to 'Create a new pickup', new_farm_pickup_path(farm.id) %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to 'Create a new farm', new_farm_path %>
</p>


