<%= render "shared/bg_start", columns: 12 %>

<div class="row">
  <div class="small-12 medium-4 columns menu">
    <h1>FAQ</h1>
    <hr />
      <ul class="side-nav">
        <li><a href="#para1">Section 1</a></li>
        <li><a href="#para2">Section 2</a></li>
        <li><a href="#para3">Section 3</a></li>
        <li><a href="#para4">Section 4</a></li>
      </ul>
    <hr />
  </div>
  <div class="small-12 medium-8 columns">
<!--- #########start content########  -->
<p>Blue Apron is a new concept in grocery delivery, built around incredible cooking experiences.  We offer a once-a-week subscription service where we deliver all the fresh ingredients you need to make 3 meals, in exactly the right proportions.  We’ve designed our service to teach you fun new recipes, save prep time and also reduce unnecessary waste.  By letting us shop for you, we can bring you fresher and higher-quality food than you can get on your own in the supermarket, and for better prices! </p>
<p>Here’s how our subscription service works: </p>

<ul>
  <li>Select the type of plan you want and the number of people</li>
  <li>Delivery is free, and we deliver the same day each week</li>
  <li>There’s no commitment: you can cancel anytime before the weekly cutoff</li> 
  <li>Stick with us long enough and you’ll get additional free goodies in the mail!</li>
</ul>

<hr />

<div id="para1">
<h1>Hello world</h1>
<p>Blue Apron is a new concept in grocery delivery, built around incredible cooking experiences. We offer a once-a-week subscription service where we deliver all the fresh ingredients you need to make 3 meals, in exactly the right proportions. We’ve designed our service to teach you fun new recipes, save prep time and also reduce unnecessary waste. By letting us shop for you, we can bring you fresher and higher-quality food than you can get on your own in the supermarket, and for better prices!</p>
<span class="right"><%= link_to "Back to top", "#" %></span><br />
</div>

<hr />

<div id="para2">
<h1>Hello world</h1>
<p>Blue Apron is a new concept in grocery delivery, built around incredible cooking experiences. We offer a once-a-week subscription service where we deliver all the fresh ingredients you need to make 3 meals, in exactly the right proportions. We’ve designed our service to teach you fun new recipes, save prep time and also reduce unnecessary waste. By letting us shop for you, we can bring you fresher and higher-quality food than you can get on your own in the supermarket, and for better prices!</p>
<span class="right"><%= link_to "Back to top", "#" %></span><br />
</div>

<hr />

<div id="para3">
<h1>Hello world</h1>
<p>Blue Apron is a new concept in grocery delivery, built around incredible cooking experiences. We offer a once-a-week subscription service where we deliver all the fresh ingredients you need to make 3 meals, in exactly the right proportions. We’ve designed our service to teach you fun new recipes, save prep time and also reduce unnecessary waste. By letting us shop for you, we can bring you fresher and higher-quality food than you can get on your own in the supermarket, and for better prices!</p>
<span class="right"><%= link_to "Back to top", "#" %></span><br />
</div>

<hr />

<div id="para4">
<h1>Hello world</h1>
<p>Blue Apron is a new concept in grocery delivery, built around incredible cooking experiences. We offer a once-a-week subscription service where we deliver all the fresh ingredients you need to make 3 meals, in exactly the right proportions. We’ve designed our service to teach you fun new recipes, save prep time and also reduce unnecessary waste. By letting us shop for you, we can bring you fresher and higher-quality food than you can get on your own in the supermarket, and for better prices!</p>
<span class="right"><%= link_to "Back to top", "#" %></span><br />
</div>

<hr />

<!--- #########end content########  -->
  </div>
</div>


<%= render "shared/bg_end" %>