<%= render "shared/bg_start", columns: 12 %>

<div class="row">
  <div class="small-12 medium-4 columns menu">
    <h1>FAQ</h1>
    <hr />
      <ul class="side-nav">
        <li><a href="#para1">About Delivery</a></li>
        <li><a href="#para2">About the Food</a></li>
        <li><a href="#para3">About Farmivore</a></li>
        <li><a href="#para4">About your Account</a></li>
      </ul>
    <hr />
  </div>
  <div class="small-12 medium-8 columns">
<!--- #########start content########  -->

<div id="para1">
<h1>About Delivery</h1>
<h4>What comes with each delivery?</h4>
<p>Every box contains enough ingredients to make 8 full servings of juice.  We pre-portion the ingredients for you to save you time and also minimize wasted food.  No more watching ‘extra’ produce slowly spoil in your refrigerator! </p>
<h4>Do I need to pay extra for shipping?</h4>
<p>Nope!  The price you see on the website is the full price inclusive of shipping.  We want to make the experience as easy as possible, and therefore we don’t surprise you with extra shipping fees.</p>
<h4>Can I change delivery to a different day of the week?</h4>
<p>At the moment we are doing all of our shipments on the same day, but we plan to offer multiple delivery dates over time.  Please tell us what works best for you so that we can fine-tune the delivery options!</p>
<h4>Where do you deliver?</h4>
<p>For now we deliver to zip codes that are within 1-day shipping of New York City. If we do not yet deliver to your zip code, fear not!  We expect to ship to more locations soon and will send you an email when we reach your area.</p>

<span class="right"><%= link_to "Back to top", "#" %></span><br />
</div>

<hr />

<div id="para2">
<h1>About the Food</h1>
<h4>Where does the produce come from?</h4>
<p>We currently work with organic food distributors known for high quality produce and emphasizing local sources.  We also have personal relationships with a number of local farms and plan to increase our sourcing directly from farms in the coming months.  Our goal is to provide the healthiest, tastiest ingredients while supporting local, sustainable farming.</p>
<h4>Do I need to wash or peel the produce?</h4>
<p>While we take great care to provide the freshest, high-quality ingredients, it’s always best to wash the produce prior to juicing.  Produce that you would normally peel for consumption (oranges, etc.) should be peeled prior to juicing.  We include instructions on the produce packaging, but feel free to email us at <%= mail_to 'support@farmivore.com' %> if you have any questions.</p>
<h4>Will the recipes vary from week to week?</h4>
<p>We try to enhance the juicing experience by utilizing the freshest, tastiest seasonal produce available.  Some weeks the recipes will be the same, and some weeks we will change it up.  Over time we will work on providing multiple box options to best fit your needs.  We would love to hear from you to tell us what you want!</p>
<h4>Can I substitute recipe options?</h4>
<p>At this time we do not allow for any recipe customization.  That said, we’d love to hear from you about ingredients that you like (or dislike) to help us fine-tune the weekly recipes.  Over time we will have more box options available to give you more choices.
</p>

<span class="right"><%= link_to "Back to top", "#" %></span><br />
</div>

<hr />

<div id="para3">
<h1>About Farmivore</h1>
<h4>So, what's the deal with Farmivore?</h4>
<p>Like many people, we are concerned about the growth and persistence of unhealthy eating habits in our country.  Eating a well-balanced diet can be very challenging.  We wanted to create a subscription service that would encourage people to maintain regular consumption of vegetables and fruit in order to lead a healthier lifestyle.  Juicing is an excellent way to boost nutritional intake, plus it’s fun and makes you feel good!
</p>
<span class="right"><%= link_to "Back to top", "#" %></span><br />
</div>

<hr />

<div id="para4">
<h1>About your Account</h1>
<h4>How do I cancel or pause my subscription?</h4>
<p>Please send an email to <%= mail_to 'support@farmivore.com' %> if you wish to pause or cancel the subscription.  We need to know at least 4 days in advance so that we don’t accidentally wind up shipping another box to you.
</p>
<span class="right"><%= link_to "Back to top", "#" %></span><br />
</div>

<hr />

<!--- #########end content########  -->
  </div>
</div>


<%= render "shared/bg_end" %>