<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
       <h1 class="header centered">Produce done right</h1>
       <ul class="small-block-grid-1 medium-block-grid-3 centered photos">
        <li>
          <div class="image">
            <%= image_tag 'simp-v.8/Howto-1.png'%>
          </div>
          <h3 class="caption">1. Subscribe to a box</h3>
        </li>
        <li>
          <div class="image">
            <%= image_tag 'simp-v.8/Howto-3.png'%>
          </div>
          <h3 class="caption">2. Get it delivered</h3>
        </li>
        <li>
          <div class="image">
            <%= image_tag 'simp-v.8/Howto-2.png'%>
          </div>
          <h3 class="caption">3. Enjoy!</h3>
        </li>
       </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns centered">
    <br />
    <h5 class="whylove"><strong>A Farmivore box is the best way to get high quality, fresh fruits and vegetables.</strong><br /> <em>Here are a few reasons why:</em></h5>
    <br />
     <i class="fa fa-chevron-down"></i><br /><br />
    <ul class="small-block-grid-3 medium-block-grid-5 featurettes">
      <li>
        <a href="#ft-fresh">
          <i class="fa fa-3x fa-pagelines"></i>
          <p><strong>Ridiculously fresh</strong><br />Harvested hours before delivery</p>
        </a>
      </li>
      <li><a href="#ft-diverse">
        <i class="fa fa-3x fa-star-o"></i>
        <p><strong>Diverse</strong><br />Local and exquisite varieties</p></a>
      </li>
      <li><a href="#ft-convenient">
        <i class="fa fa-3x fa-truck"></i>
        <p><strong>Convenient</strong><br />Delivered to your door</p></a>
      </li>
      <li><a href="#ft-cook">
        <i class="fa fa-3x fa-cutlery"></i>
        <p><strong>Easy to prepare</strong><br />Preparation tips included</p></a>
      </li>
      <li><a href="#ft-honest">
        <i class="fa fa-3x fa-thumbs-up"></i>
        <p><strong>Honestly sourced</strong><br />All local and organic farms</p></a>
      </li>
    </ul>
  </div>
</div>

<div class="row feature" id="ft-fresh">
  <div class="small-12 columns panel-box">

    <div class="centered row">
      <i class="fa fa-3x fa-pagelines"></i>
      <h2 class="text-z">Freshly harvested to order</h2>
    </div>
    <div class="row">
      <div class="small-12 medium-7 medium-offset-1 columns featurette-text">
        <p>We’re obsessed with maximizing the freshness of the vegetables we deliver. Often, the items in your box are delivered within <strong>24 hours</strong> of being harvested by local farmers.</p>
        <br /><br />
        <p><em>Green beans can lose the majority of their nutrient content after just one week of storage! That's why Farmivore delivers them right after harvest.
        </em></p>
      </div>
      <div class="small-4 columns greenbeans">
      &nbsp;
      </div>
    </div>

  </div>
</div>

<div class="row feature" id="ft-diverse">
  <div class="small-12 columns panel-box">
    
    <div class="row">
      
      <div class="small-12 medium-7 medium-offset-5 columns featurette-text">
        <div class="centered"><i class="fa fa-3x fa-star-o"></i>
        <h2>Local selection</h2></div>
        <div class="featurette-text"><p>Most supermarket produce today is selected for high yield and long shelf-life. </p><p>The local farmers we source from however, can grow more diverse and delicate varieties because they don’t need to worry about packing and shipping long distances.</p><p>
          <em>Sungold tomatoes are ultra-sweet and rarely found in supermarkets. Find them in our summer boxes.</em>
        </p>
      </div>
      </div>
    </div>
    <br /><br /><br />
  </div>
</div>

<div class="row feature" id="ft-convenient">
  <div class="small-12 columns panel-box">
    <div class="centered"><a><i class="fa fa-3x fa-truck"></i></a>
    <h2>Simple and convenient</h2></div>

    <div class="row">
      <div class="small-12 columns featurette-text centered">
        <p>
          Choose a box that fits your lifestyle and subscribe. Then get it delivered to your door.
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="small-6 columns centered localbox">
        <h5>The cooking box</h5>
        <p>Local, seasonal produce<br />
        <em>Starting from $35 for a weekly box</em></p>
        <%= link_to 'Get started!', new_box_path, html_options = {class: "box-button", id: "features-ourboxes"} %>
      </div>
      <div class="small-6 columns centered juicingbox">
        <h5>The juicing box</h5>
        <p>Packs of produce for home juicing<br />
        <em>Starting from $35 for a weekly box</em></p>
        <%= link_to 'Get started!', new_juicebox_path, html_options = {class: "juicing-button", id: "features-ourboxes"} %>
      </div>
    </div>
  </div>
</div>

<div class="row feature" id="ft-cook">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-cutlery"></i>
    <h2>Easy to prepare</h2></div>
    <div class="row">
      <div class="small-8 small-offset-2 columns featurette-text"><p>When you’re working with quality ingredients, creating flavorful meals becomes a lot easier. With each box, we include recipes designed to bring out the flavor of the ingredients, no matter if you're cooking or juicing.
      </p></div>
    </div>
    <br /><br />
  </div>
</div>

<div class="row feature" id="ft-honest">
  <div class="small-12 columns panel-box">
    <div class="centered"><i class="fa fa-3x fa-thumbs-up"></i>
    <h2>Honestly sourced</h2></div>
    <div class="row">
      <div class="small-6 small-offset-1 columns featurette-text">
        <p>We make an effort to tour the farms we source from and see their growing practices firsthand so we can share that information with you. Beyond the quality of the produce itself, we also look for farms that:</p>
        <ul>
          <li>are family-owned and operated</li>
          <li>refrain from using genetically modified seed varieties</li>
          <li>care about maintaining and improving the health of the soil and the environment</li>
          <li>use no or low spray growing practices</li>
          <li>minimize external inputs (like synthetic fertilizers) and waste outputs</li>
        </ul>

        <p>Every delivery comes with information about where each vegetable comes from and the growing practices on the farms.  
        </p>
      </div>
      <div class="small-5 columns">
        <div class="row">
          <div class="small-12 columns centered">
            <br /><br /><br />
            <p>Learn more about our sourcing practices</p>
            <%= link_to 'Our farms', welcome_farms_path, html_options = {class: "get-started-button"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>