<section class="intro">
  <div class="row show-for-medium-up">
    <div class="large-8 columns large-offset-4 medium-12">
      <h1>A better way to juice</h1>
    </div>
  </div>
  <div class="row show-for-medium-up">
    <div class="large-5 columns large-offset-7 medium-6 medium-offset-6">
      <ul class="no-bullet">
        <li><h5>Fresh, organic ingredients</h5></li>
        <li><h5>Healthy, delicious recipes</h5></li>
        <li><h5>Delivered to your door</h5></li>
      </ul>
      <%= render 'shared/signup_button_large'%>
    </div>
  </div>
</section>

<div class="row show-for-small-only">
    <div class="small-12 columns centered">
        <h1>A better way to juice</h1>
    </div>
    <div class="small-12 columns centered">
      <ul class="no-bullet">
        <li><h5>Fresh, organic ingredients</h5></li>
        <li><h5>Healthy, delicious recipes</h5></li>
        <li><h5>Delivered to your door</h5></li>
      </ul>
      <%= render 'shared/signup_button_large'%>
    </div>
</div>

<section class="juices">
  <div class="row show-for-medium-up">
    <div class="large-8 columns medium-12">
      <h1>Make incredible juices</h1>
    </div>
  </div>
  <div class="row show-for-medium-up">
    <div class="large-5 columns medium-6">
      <ul class="no-bullet">
        <li><h5>Use recipes designed by our team for maximum nutrition and awesome flavor</h5></li>
        <li><h5>Know the nutritional values and benefits of each serving</h5></li>
        <li><h5>Do less research, drink better juice</h5></li>
      </ul>
      <%= render 'shared/signup_button'%>
    </div>
    <div class="large-7 medium-6 columns">
      <div class="row">
        <div class="medium-7 columns right text-right">
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <div class="row">
            <div class="medium-6 columns medium-centered caption centered">
              <h6><strong><em>The “Green Thumb” Juice</em></strong></h6>
              <p>Lacinato kale, celery, cucumber, 
  parsley, green apple, lemon, ginger</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row show-for-small-only">
    <div class="small-12 columns">
        <h1>Make incredible juices</h1>
    </div>
    <div class="small-12 columns">
      <ul class="no-bullet">
        <li><h5>Use recipes designed by our team for maximum nutrition and awesome flavor</h5></li>
        <li><h5>Know the nutritional values and benefits of each serving</h5></li>
        <li><h5>Do less research; drink better juice</h5></li>
      </ul>
      <%= render 'shared/signup_button'%>
    </div>
</div>

<section class="plans">
  <div class="row">
    <div class="medium-6 small-12 columns">
      <div><%= image_tag('v100/greencube-row.png') %></div>
      <div><%= image_tag('v100/mixedcube-row.png') %></div>
    </div>
    <div class="medium-6 small-12 columns">
      <h1>Pick the perfect plan</h1>
      <ul class="no-bullet">
         <li><h5>Whether you like green juices only or a mix of flavors, we’ve got you covered</h5></li>
        <li><h5>All deliveries arrive with the correct ingredient proportions, saving you prep time and reducing waste</h5></li>
      </ul>
       <%= render 'shared/signup_button'%>
    </div>
  </div>
</section>

<div class="wooden">
  <section class="therest">
    <div class="row show-for-medium-up">
      <div class="large-8 columns medium-8">
        <h1>Leave everything else to us</h1>
        <h3>We do all the...</h3>
      </div>
    </div>
    <div class="row show-for-medium-up">
      <div class="large-7 columns medium-8">
        <ul class="medium-block-grid-2 icons">
          <li><h5><i class="fa fa-2x fa-list-alt"></i> &nbsp; Planning</h5></li>
          <li><h5><i class="fa fa-2x fa-shopping-cart"></i> &nbsp; Shopping</h5></li>
          <li><h5><i class="fa fa-2x fa-flask"></i> &nbsp; Measuring</h5></li>
          <li><h5><i class="fa fa-2x fa-truck"></i> &nbsp; Delivering</h5></li>
        </ul>
      </div>
    </div>
  </section>
</div>

  <div class="row show-for-small-only">
      <div class="small-12 columns centered">
          <h1>Leave everything else to us.</h1>
          <h3>We do all the...</h3>
      </div>
      <div class="small-10 columns small-centered">
        <ul class="medium-block-grid-2 icons">
          <li><h5><i class="fa fa-2x fa-list-alt"></i> &nbsp; Planning</h5></li>
          <li><h5><i class="fa fa-2x fa-shopping-cart"></i> &nbsp; Shopping</h5></li>
          <li><h5><i class="fa fa-2x fa-flask"></i> &nbsp; Measuring</h5></li>
          <li><h5><i class="fa fa-2x fa-truck"></i> &nbsp; Delivering</h5></li>
        </ul>
      </div>
  </div>

<section class="finalbutton">
  <div class="row">
    <div class="medium-7 small-12 columns">
      <h1>All you have to do is juice!</h1>
    </div>
    <div class="medium-5 small-12 columns">
            <%= render 'shared/signup_button_large'%>
    </div>
  </div>
</section>

