<% content_for :title, "Eat from farms. Farmivore.com" %>
<div class="row">
	<div class="small-12 large-12 columns" id="hero">
		<h2 class="gentrified"><span>farmivore.com</span></h2>
		<h1>A MARKETPLACE FOR THE MODERN FARMER</h1>
	
		<h5 class="subheader"><em>     -   Coming soon   -   </em></h5>
			<h3>San Diego, California</h3>

		<h5 class="subheader"><em>Want to list your farm with us? Send us an email</em></h5>
	</div>
</div>

<div class="row" id="emailform">	
	<div class="small-2 large-4 columns"></div>
	<div class="small-8 large-4 small-centered large-centered columns">
	<%= form_for :email, url: emails_path do |f| %>
			  <p>
			    <%= f.text_field :name, value: "The name of your farm" %>
			  </p>
			   <p>
			    <%= f.text_field :email, value: "Your email address" %>
			  </p>
			 <p>
			    <%= f.text_field :zip, value: "Your zip code" %>
			  </p>

			  <p>
			   <%= link_to_submit(class: 'round button') do %>
						Submit
						<% end %>
			  </p>
	<% end %>
	</div>
		<div class="small-2 large-4 columns"></div>
</div>

<div class='row' id="photo">
	<div class='row'>
		<div class="small-12 large-12 columns">
			<h1 class="gentrified">far·mi·vore<span>   <em>noun</em>  [fahr-muh-vawr]</span></h1>
		</div>
	</div>
	<div class='row'>
		<div class="small-1 large-2 columns"></div>
		<div class="small-10 large-8 large-centered small-centered columns">
			<p class="definition">
			 	Farmivores value hard work. They care about the health of their families, communities, &amp; environment.
			</p>
			<p class="definition">
				That's why they take the extra step to find food produced by real people on real farms. 
			</p>
		</div>
		<div class="small-1 large-2 columns"></div>
		
	</div>
</div>
<div class="row" id="copyright_message">
<span>&copy; Farmivore 2013. All rights reserved.</span>
</div>