

<section class="introduction segment">
  <div class="row">
    
    <div class="small-1 medium-5 columns">
      <%= image_tag 'cabbage_600.png', id: "cabbage-image" %>
    </div>

    
    <div class="small-11 medium-7 columns">
      
      <h1 class="landing-page-tag">
        A weekly produce box, delivered to your door
      </h1>

      <div class="row button-group">
        <div class="large-12 columns"> 
          <%= link_to 'Learn more', welcome_features_path, class: "learn-more-button" %>
          <%= link_to 'Sign up', new_box_path, class: "get-started-button" %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="landing-page-tag">
            <h5>Whether you seek convenient nutrition or culinary adventure, we have a box for you.</h5>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</section>


<div class="row now-serving">
  <div class="small-12 columns centered">
    <p><strong>Now available!</strong> Serving New Haven, CT. <%= link_to 'Order now',new_box_path %></p>
  </div>
</div>

<section class="how-it-works segment">
  <div class="row three-points">
    <div class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
      
                <li>
                  <div class="step-option">
                    <h5 class="title">Wholesome produce</h5>
                    <span class="caption">Harvested within hours of delivery. Recipes included. <br/>
                      <%= link_to "Learn more", welcome_features_path %></span>
                  </div>
                </li>
                <li>
                  <div class="step-option">
                    <h5 class="title">Effortless subscription</h5>
                    <span class="caption">Cancel or delay whenever you want. Starting at $16/box. <br/>
                      <%= link_to "See box options", new_box_path %></span>
                  </div>
                </li>
                <li>
                  <div class="step-option">
                    <h5 class="title">Real farms</h5>
                    <span class="caption">Selected for best growing practices. Focus on CT grown.<br/>
                      <%= link_to "See our farms", welcome_farms_path %></span>
                  </div>
                </li>
             
    </div>
  </div>
</section>

<div class="row">
  <div class="small-12 columns centered">
    <br /><br /><blockquote>"Farmivore allows me to eat healthily without even thinking about it. It's expanded my cooking skillset as well." <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><cite>Sarah J., New Haven</cite></blockquote>
  </div>
</div>

