<% content_for :title, "Eat from farms. Farmivore.com" %>
<div id="bgimage">
<div class="row">
	<div class="small-10 large-6 columns" id="hero">
		<h2 class="gentrified"><span>&nbsp;</span></h2>
		<h1>Marketing for the modern farmer. </h1>
	
		<p class="notgentri"></p>

		
	</div>
</div>

<div class="row" id="emailform">	
	<div class="small-10 large-6 columns">
	<%= form_for :email, url: emails_path do |f| %>
			  <p>
			    <%= f.text_field :name, placeholder: "Your name" %>
			  </p>
			   <p>
			    <%= f.text_field :email, placeholder: "Your email address" %>
			  </p>
			 <p>
			    <%= f.text_field :zip, placeholder: "Your zip code" %>
			  </p>

			  <p>
			   <%= link_to_submit(class: 'round button') do %>
						Submit
						<% end %>
			  </p>
	<% end %>
	</div>
</div>
</div>

<div class="row" id="copyright_message">
<br /><br />&copy; Farmivore 2013. All rights reserved.
</div>