
<section class="introduction segment">
  <div class="row">

    <div class="small-12 medium-10 medium-centered columns centered">
      
      <%= image_tag 'simp-v.8/juiceheader2-820-2.png' %>

      <div class="row button-group">
        <div class="small-12 columns"> 
         <%= render 'shared/signup_button_large'%>
        </div>
      </div>

      

      
    </div>
  </div>
</section>


<div class="row learn-more">
  <div class="small-12 columns centered">
    
  </div>
</div>

<section class="deals">
  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-2 centered">
      
      <li>
        <div class="row">
          <a id="body-cookingbox" class="small-12 columns photo1" href="<%= new_box_path %>">
            <%= image_tag 'simp-v.8/photo-localheader-small.jpg' %>
            <h3>Cooking box</h3>
            <p>Local, seasonal produce<br />
            <em>Starting from $35 per box</em></p>
          </a>
        </div>
      </li>
      <li>
        <div class="row">
          <a id="body-juicebox" class="small-12 columns photo2" href="<%= new_juicebox_path %>">
            <%= image_tag 'simp-v.8/photo-juiceheader-small.jpg' %>
            <h3>Juicing box</h3>
            <p>Packs of produce for home juicing<br />
            <em>Starting from $45 per box</em></p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>

<div class="row learn-more">
  <div class="small-12 columns centered">
    <p>Curious about how it works? <br />Learn about how <strong>Farmivore</strong> gets you the best produce possible.</p>
    <%= link_to 'How it works', welcome_howitworks_path, class: "get-started-button", id: "body-howitworks" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns centered">
    <hr /><br /><blockquote>We have been introduced to so many new fruits and vegetables, allowing us to explore new recipes and ways of cooking. Receiving  fresh, seasonal produce delivered straight to our door is such a convenience for our busy family. We look forward to our delivery each week!
<br /> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><cite>Kimberly, New Haven</cite></blockquote>
  </div>
</div>

