
<section class="introduction segment">
  <div class="row">

    <div class="small-12 medium-10 medium-centered columns centered">
      
      <%= image_tag 'simp-v.8/juiceheader2-820-2.png' %>

      <div class="row button-group">
        <div class="small-12 columns"> 
         <%= render 'shared/signup_button_large'%>
        </div>
      </div>

      

      
    </div>
  </div>
</section>

<div class="row midbar">
  <div class="small-12 columns centered">
    <p><strong>Now delivering</strong> to zipcodes in Eastern Time Zones. Get your box today!</p>
  </div>
</div>

<div class="learn-more">
  <div class="row">
    <div class="small-12 medium-8 medium-offset-4 columns centered">
      <h1><%= image_tag 'simp-v.8/juiceicon1-75.png' %></h1>
      <h2>Easier juicing than ever before</h2>
      <p>Sorted recipe packs include all produce portioned exactly for delicious juices. Save yourself the time and energy of shopping.</p>
        <br /><div class="centered"><%= render 'shared/signup_button' %></div>
    </div>
  </div>
</div>


<div class="gah-more">
  <div class="row">
    <div class="small-12 medium-12 columns centered">
      <h1><%= image_tag 'simp-v.8/juiceicon2-75.png' %></h1>
      <h2>100% organic</h2>
      <p>All of our farms are certified organic and use sustainable farming methods. </p>
        <br /><div class="centered"><%= render 'shared/signup_button' %></div>
    </div>
  </div>
</div>

<div class="blah-more">
  <div class="row">
    <div class="small-12 medium-7 columns centered">
      <h1><%= image_tag 'simp-v.8/juiceicon3-75.png' %></h1>
      <h2>Free delivery</h2>
      <p>Produce arrives on your doorstep during the time window you request. It's that easy!</p>
        <br /><div class="centered"><%= render 'shared/signup_button' %></div>
    </div>
    <div class="small-12 medium-5 columns centered juicebox">
      <%= image_tag 'simp-v.8/Jumbojuice.png' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns centered">
    <br /><blockquote>“My Farmivore box arrives every week with the ingredients measured perfectly for  delicious recipes. I save so much time not having to plan out a trip to the store. Anybody can eat tons of veggies when it is this easy!"
<br /> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><cite>Josh Gomez, New York</cite></blockquote>
  </div>
</div>

<br />
<section class="deals">
  <div class="row centered">
    <%= image_tag 'orders/fans-of-fv.jpg' %>
  </div>
</section>

<br /><br />
 <h3 class="centered">Start eating the best quality produce today. Sign up!</h3><br />
  <div class="centered"><%= render 'shared/signup_button' %></div>
  

