<section class="delivery">
  <div class="row">
    <div class="medium-12 small-12 columns">
      
      <div class="row">
        <div class="small-12 columns">
          

          <div class="row summary">
            <div class="small-12 columns">
              <h1>Referrals for <%= @promocode.email %></h1>
              
              <table>
                <tr>
                  <th>Email</th>
                  <th>Date registered</th>
                  <th>Registered?</th>
                  <th>To checkout?</th>
                  <th>Paid?</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                </tr>

                <% @promocode.users.each do |user| %>
                <tr>
                  <th>****<%= user.email[4..-1] %></th>
                  <th><%= user.created_at.to_s %></th>
                  <th>Yes</th>
                  <th><% if !user.orders.empty? %>Yes 
                    <% end %></th>
                  <th><% if !user.charges.empty? %>Yes
                    <% end %></th>
                  <th><% if !user.charges.empty? %><%= user.charges.first.order.box_count_string %><% end %></th>
                  <th><% if !user.charges.empty? %><%= user.charges.first.order.price_string(true) %><% end %></th>
                </tr>
                <% end %>

              </table>

              <ul class="inline-list">
                <li><strong>Totals: </strong></li>
                <li>User registrations: <%= @promocode.users.length %></li>
                <li>To checkout: <%= @promocode.orders.length %></li>
                <li>Payments:  <%= @promocode.orders_with_charges.length %></li>
              </ul>
               <p><strong>Total sales for this period:</strong> <%= @promocode.sales_string %></p>

              <h3>What we owe you:</h3>
             
              <p><strong>Your rate:</strong> <%= @promocode.rate_string %></p>
              <p><strong>Your total earnings:</strong> <%= @promocode.earnings_string %></p>



            </div>
          </div>

  <h1>&nbsp;</h1>
 <h1>&nbsp;</h1>



        </div>
      </div>

    </div>
  </div>
</section>