       <h3 class="green">Order a plan</h3>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@order.errors.count, "error") %> were found:</h3>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="small-6 medium-5 large-3 columns">

      <%= f.label :"Number of juices" %>
      <%= f.text_field :box_count %>


      <%= f.label :"Delivered every: " %>
      <%= f.text_field :frequency %>

  </div>
</div>
  


<h3 class="green">Choose delivery</h3>
<p>Your address</p>
  <div class="field">
    <%= f.label :"Full name" %><br>
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :"Address" %><br>
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :"Address (cont)" %><br>
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>

  <p>Preferred delivery time</p>
  <div class="field">
    <%= f.label :"Delivery window" %><br>
    <%= f.text_field :delivery_window %>
  </div>
  <div class="field">
    <%= f.label :"First delivery" %><br>
    <%= f.text_field :first_delivery %>
  </div>
  
  <div class="actions">
    <%= f.submit id: "order-submit", class: "fv-button" %>
  </div>


<% end %>
