       <h3 class="green">Order a plan</h3>
<%= form_for (@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@order.errors.count, "error") %>:</h3>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="small-12 columns">
    <% if @order.product.is_affiliate? %>
    <p>You have selected the <strong><%= @order.product.name %> </strong> program.</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-5 medium-5 large-3 columns">
      <%= f.label @order.product.box_num_menu['title'] %>
      <%= f.select :box_count, @order.product.box_num_menu['options'].map{ |key, value| [value, key] }, {}, :'data-price' => @order.product.price %>
  </div>
  <% if !get_product.is_affiliate? %>
  <div class="small-6 medium-6 large-5 columns">
      <%= f.label @order.product.delivery_frequency_menu['title'] %>
      <%= f.select :frequency, @order.product.delivery_frequency_menu['options'].map{ |key, value| [value, key] } %>
  </div>
  <% end %>

  <div class="small-1 medium-1 large-4 columns">
      &nbsp;
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <% if @order.product.is_affiliate? %>
    <!-- <div class="switch-juicing"><small>Want to switch to a standard Farmivore juicing plan? Click <%= link_to 'here', new_order_path(p: 6) %>.</small></div> -->
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-6 columns small-12 columns">


    <h3 class="green">Your delivery</h3>
    <h5>Delivery address</h5>
    <div class="row">
      <div class="small-12 medium-10 columns">
        <div class="field">
          <%= f.label :"Full name" %>
          <%= f.text_field :fullname %>
        </div>
        <div class="field">
          <%= f.label :"Address" %>
          <%= f.text_field :address1 %>
        </div>
        <div class="field">
          <%= f.label :"Address (line two)" %>
          <%= f.text_field :address2 %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-7 medium-5 columns">
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
      </div>
      <div class="small-5 medium-3 columns">
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state %>
        </div>
      </div>
      <div class="small-6 medium-4 columns">
        <div class="field">
           <%= f.label :zip %>
        <%= f.text_field :zip %>
        </div>
      </div>
    </div>    
  </div>

  <div class="large-6 columns small-12 columns">
    <h2>&nbsp;</h2>
    <% if !@order.product.is_affiliate? %>
      <h5>Time preference</h5>
      <div class="field">
        <%= f.label :delivery_window, "Delivery day" %>
        <%= f.select(:delivery_window, options_for_select([["Friday"],["Saturday"],["Tuesday"],["Wednesday"],["Thursday"]])) %>
      </div>
      <div class="field">
        <%= f.hidden_field :first_delivery %>
      </div>
    <% else %>
      <h5>When you want to begin</h5>
      <div class="field">
        <%= f.label :first_delivery, "Date to expect your first delivery" %>
        <%= f.select(:first_delivery, options_for_select([["Wednesday, March 19"],["Thursday, March 20"],["Friday, March 21"],["Saturday, March 22"],["Tuesday, March 25"],["Wednesday, March 26"],["Thursday, March 27"],["Friday, March 28"]])) %>
      </div>
    <% end %>

        <%= f.label :"Phone number" %>
        <%= f.text_field :phone, :placeholder => "e.g. 203-333-4567" %>
    
    
      <%= f.submit id: "order-submit", value: "Checkout", class: "fv-button" %>
    
  </div>
</div>


<% end %>
