<!-- Form -->         
    <div class="row form">
      <div class="small-12 columns">
        <h1>Your box</h1>
        <p>You chose the <strong><%= order.product.name %></strong> subscription.</p>
      
<%= form_for (order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(order.errors.count, "error") %>:</h4>
      <ul>
      <% order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="small-7 medium-6 large-6 columns">
    <%= f.label order.product.box_num_menu['title'] %>
    <%= f.select :box_count, order.product.box_num_menu['options'].map{ |key, value| [value, key] }, {}, :'data-price' => order.price, :'data-shipping' => order.shipping, :'data-total' => order.total, :'data-id' => order.product.id %>
  </div>
  <div class="small-5 medium-6 large-6 columns">
      <%= f.label "Delivery frequency" %>
      <%= f.select :frequency, options_for_select([["Twice per week", 8], ["Once per week", 4], ["Once per two weeks", 2]], 4) %>
  </div>
</div>

<div class="row">
  <div class="large-6 columns small-12 columns">


    <h1>Your address</h1>
    <h5>Delivery address</h5>
    <div class="row">
      <div class="small-12 medium-10 columns">
        <div class="field">
          <%= f.label :"Full name" %>
          <%= f.text_field :fullname %>
        </div>
        <div class="field">
          <%= f.label :"Address" %>
          <%= f.text_field :address1 %>
        </div>
        <div class="field">
          <%= f.label :"Address (line two)" %>
          <%= f.text_field :address2 %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-7 medium-5 columns">
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
      </div>
      <div class="small-5 medium-3 columns">
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state %>
        </div>
      </div>
      <div class="small-6 medium-4 columns">
        <div class="field">
           <%= f.label :zip %>
        <%= f.text_field :zip %>
        </div>
      </div>
    </div>    
  </div>

  <div class="large-6 columns small-12 columns">
    <h2>&nbsp;</h2>
      <h5>Time preference</h5>
      <div class="field">
        <%= f.label :delivery_window, "Delivery day".html_safe %>
        <%= f.select :delivery_window, options_for_select([["Tuesday", 2],["Thursday", 4]], order.delivery_window) %>
      </div>
      <div class="field">
        <%= f.hidden_field :first_delivery %>
      </div>
        <%= f.label :"Phone number" %>
        <%= f.text_field :phone, :placeholder => "e.g. 203-333-4567" %>
    
    
      <%= f.submit id: "order-submit", value: "Checkout", class: "fv-button" %>
    
  </div>
</div>

<% end %>
      </div>
    </div>
<!-- End Form --> 