<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>box_count</th>
      <th>frequency</th>
      <th>fullname</th>
      <th>addy1</th>
      <th>addy2</th>
      <th>city</th>
      <th>state</th>
      <th>zip</th>
      <th>phone</th>
      <th>delivery window</th>
      <th>first delivery</th>
      <th>user id</th>
      <th>product id</th>
      <th>promocode id</th>
      <th>User email</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.box_count %></td>
        <td><%= order.frequency %></td>
        <td><%= order.fullname %></td>
        <td><%= order.address1 %></td>
        <td><%= order.address2 %></td>
        <td><%= order.city %></td>
        <td><%= order.state %></td>
        <td><%= order.zip %></td>
        <td><%= order.phone %></td>
        <td><%= order.delivery_window %></td>
        <td><%= order.first_delivery %></td>
        <td><%= order.user_id %></td>
        <td><%= order.product_id %></td>
        <td><%= order.promocode_id %></td>
        <td><%= order.user.email %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
