<h1>New order</h1>
<h5><%= @name.inspect %> </h5>
<h5><%= session[:referrer].inspect %> </h5>

<!-- User Form -->

<%= form_for(:user, :url => "#", :html => { :id => "ajax_signup", :ajax_path => user_registration_path, :"data-registered" => @registered, :"data-abide" => ''}, method: :post) do |f| %>
   <% if !user_signed_in? %>
    <span class="registration-errors"></span>
    <div class="name-field">
      <label>Your email
        <%= f.email_field :email, :placeholder => "", :required => '', :pattern => "email" %>
        <small class="error">Email is must be in a valid format (example@example.com).</small>
      </label>
    </div>
    <div class="password-field">
      <label>Your password
        <%= f.password_field :password, :placeholder => "", :type => 'password', :required => '', :pattern => "password" %>
        <small class="error">Password must be at least 8 characters.</small>
      </label>
    </div>
   <% end #have some replacement: say you're signed in as x%>
<% end %>

<!-- CC Form -->
<form action="" method="POST" id="payment-form" data-abide>
  <span class="payment-errors"></span>
  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" required pattern="card"/>
      <small class="error">This doesn't look like a valid card number</small>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc" required pattern="cvv"/>
      <small class="error">This doesn't look like a valid CVC</small>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
        <input type="text" size="2" maxlength="2" data-stripe="exp-month" required pattern="integer" />
        <small class="error">Please enter a valid 2-digit month</small>
    </label>
    <span> / </span>
    <label>
        <input type="text" size="4" maxlength="4" data-stripe="exp-year" required pattern="integer"/>
        <small class="error">Please enter a valid 4 digit year</small>
    </label>
  </div>

</form>

<!-- Order Form -->
<%= render 'form' %>

<!-- Stripe JS -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
</script>
