<div class="row">
	<div class="centered"><h2>Update your customers on the fly.</h2></div>
</div>
<div class="row">
	<div class="panel radius">
		<div class="row">
			<div class="large-12 columns"><div class="centered"><h4>One step and voila!</h4></div></div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<div class="panel callout">
					<h6>Email from your smartphone</h6>
					<%= image_tag('email_photo.jpg') %>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="row">
					<hr />
					<div class="centered"><p><em> Or ... </em></p></div>
					<hr /><br />
				</div>
				<div class="panel callout textmsg">
					<h6>A short text message:</h6>
					<p>Carrots, purple sweet variety. 1.25 dollars/lb. Until Dec 15. @Wooster.</p>
				</div>
			</div>
		</div>
		<div class="row">	
			<div class="large-12 columns"><p><strong>That's all!</strong>    Restaurants and farmer's market customers will be able to see your products before the market each week.</p></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
			<p><em><strong>Fill out the form below,</strong> and we'll set up your account lickety-split!</em></p>
	</div>
</div>

<div class="row">
<%= form_for :contact, url: contacts_path, :html => { :multipart => true } do |f| %>
	<fieldset>
		<legend>30 second signup</legend>
		<div class="row">

			<div class="large-4 columns">
				    <%= f.text_field :firstname, :placeholder => "Your first name" %> 
			</div>
			<div class="large-4 columns">
				    <%= f.text_field :lastname, :placeholder => "Last name"%>  
			</div>	 
			<div class="large-4 columns"></div>	 
		</div>

		<div class="row">

			<div class="large-6 columns">
				    <%= f.text_field :email, :placeholder => "Your email address" %> 
			</div>
			<div class="large-2 columns"></div>	 
			<div class="large-4 columns"></div>	 
		</div>
		
		<div class="row">

			<div class="large-4 columns">
				    <%= f.text_field :phone, :placeholder => "Your phone number" %> 
			</div>
			<div class="large-4 columns"></div>	 
			<div class="large-4 columns"></div>	 
		</div>

		<div class="row">

			<div class="large-6 columns">
				    <%= f.text_field :farmname, :placeholder => "Name of your farm" %> 
			</div>
			<div class="large-2 columns"></div>	 
			<div class="large-4 columns"></div>	 
		</div>

		<div class="row">

			<div class="large-8 columns">
				    <%= f.text_field :markets, :placeholder => "Markets you currently serve (e.g. 'Wooster Square, State St, and East Haven')" %> 
			</div>
			<div class="large-2 columns"></div>	 
			<div class="large-2 columns"></div>	 
		</div>

		<div class="row">

			<div class="large-8 columns">
				    <%= f.text_field :produce, :placeholder => "What your farm produces (e.g. 'Vegetables and dairy')" %> 
			</div>
			<div class="large-2 columns"></div>	 
			<div class="large-2 columns"></div>	 
		</div>
			
			    <%= f.submit 'Submit', :class => "button" %>
	</fieldset>		  
<% end %>
</div>
