<div class="row">
  <div class="box-module-icon large-3 columns">
    <img src="http://placehold.it/150x150">
  </div>
  <div class="box-module-content large-7 columns">
    <h3 class="box-module-name"> {{name}} </h3>
    <p class="box-module-contents"> {{description1}} </p>
    <p class="box-module-good-for"> {{description2}} </p>
    <div class="farms">
      FARMS
    </div>
    <p class="box-module-units"> {{unit}} </p>
  </div>
  <div class="box-module-aside large-2 columns">
    <div class="price">${{cost}}</div>
    <div class="quantity-controls">
      <a {{action incrementQuantity module}} class="action-minor"><i class="fa fa-plus"></i></a>
      <a {{action decrementQuantity module}} class="action-minor"><i class="fa fa-minus"></i></a>
    </div>
  </div>
</div>
