<tr data-tag="Apples" data-category="Fruits" class="listing">
  <td> {{listing.category}} </td>
  <td>{{listing.description}}</td>
  <td>{{listing.priceString}}</td>
  <td>{{listing.farm.methodology}}</td>
  <td>{{listing.farm.name}}</td>
  <td><a {{action addToShoppingList listing}} class="add-button"> + </a></td>
</tr>
