    <table class="sortable">
        <tr>
          <th><a {{action sortBy "category"}}>Category</a></th>
          <th><a {{action sortBy "description"}}>Description</a></th>
          <th><a {{action sortBy "price"}}>Price</a></th>
          <th><a {{action sortBy "farm.methodology"}}>Method</a></th>
          <th><a {{action sortBy "farm.name"}}>Farm</a></th>
          <th>Add to your list</th>
        </tr>

      {{#each listing in arrangedContent}}
        <!--tr data-tag="Apples" data-category="Fruits"-->
          <td> {{listing.category}} </td>
          <td>{{listing.description}}</td>
          <td>{{listing.priceString}}</td>
          <td>{{listing.farm.methodology}}</td>
          <td>{{listing.farm.name}}</td>
          <td><a href="#add">Plus button</a></td>
        </tr>
      {{/each}}
    </table>
