<span class="highlight">
<span class="description"> {{listing.description}} </span>
<span class="at-sign"> @ </span>
<span class="price">{{listing.priceString}}</span>
</span>
{{listing.farm.name}}.
Quantity: {{listing.quantity}}

<span class="hover-unhide pull-right">
<a {{action removeListing listing}} class="remove-listing"><i class="fa fa-times"></i>Remove</a>
</span>
