<div class="bg">
  <div class="row product-page">
    <div class="small-12 columns">
        <div class="row product-box">
          <div class="small-12 columns">
            <div class="row">
              <div class="small-10 small-centered columns statusbar">
                <%= render 'shared/status_bar', stage: 1 %>
              </div>
            </div>
            <h1 class="centered">What's your type?</h1>

            <ul class="small-block-grid-1 medium-block-grid-2 centered">
              <li>
                <div class="row">
                  <div class="small-10 small-centered large-9 large-centered columns green">
                    <div><%= image_tag('v100/greencube-row.png') %></div>
                    <h1>green</h1>
                    <%= render 'shared/product_button', number: 8 %>
                    <p>
                      You appreciate the complex flavors of a carefully crafted green juice. You crave the low-glycemic energy boost. You like your juices bold and assertive. 
                    </p>
                    <p>
                      <strong><i class="fa fa-1x fa-pencil"></i> General Tasting Notes:</strong><br />
                      Clean, grassy, vegetal, herbal, savory, velvety, lightly bitter, earthy
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="small-10 small-centered large-9 large-centered columns mixed">
                    <div><%= image_tag('v100/mixedcube-row.png') %></div>
                    <h1>mixed</h1>
                    <%= render 'shared/product_button', number: 9 %>
                    <p>
                      You like your juices smooth, sweet, and well-balanced. You seek variety and creativity in your flavors. You know that healthy doesn’t have to mean bland.
                    </p>
                    <p>
                      <strong><i class="fa fa-1x fa-pencil"></i> General Tasting Notes:</strong><br />
                      Tropical, tart, bright, sweet, fruity, spicy, rich, creamy, aromatic 
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="small-block-grid-1 medium-block-grid-3 bottomtips">
              <li><%= image_tag('v100/8servings-icon.png', class: "servings") %>
                <p>8 servings <br />in every box</p><br /><br /></li>
              <li><%= image_tag('v100/servingsize-icon.png') %>
                <p>10-16 ounces<br /> in every serving</p><br /><br /></li>
              <li><%= image_tag('v100/recipe-icon.png') %>
                <p>Plus recipes, tips,<br /> and nutrition info</p><br /><br /></li>
            </ul>

          </div>
           
      </div>
    </div>

  </div>
</div>

           