<div class="row">
  <div class="large-12 columns">
    <h3>Thanks! We received your order.</h3>
    <h5>When one of our representatives reviews your order to make sure everything is right, we'll send you a confirmation email.</h5>
          <fieldset>
            <legend>For your records</legend>
            <div class="row">
              <div class="large-12 columns">

                 <p>You selected the <strong>
                  <% if @box.box_num == 1 %>
                      Raw Box
                    <% elsif @box.box_num == 2 %>
                      Cooking Box
                    <% else %>
                      Jumbo Box
                    <% end %>
                   Plan</strong> ($<%= @box.get_price.to_s.chop.chop + '.' + @box.get_price.to_s.last(2) %>).</p>

                   <p>Your first delivery will be on <strong><%= @box.startdate %></strong>, in between <strong><%= @box.delivery_preference_time_string %></strong></p>

                   <p>Every <strong><%= @box.frequency.to_s %> week/s</strong> after that, a box will be shipped to you on <strong><%= @box.delivery_preference_string %></strong></p>
                 </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <p><strong>Delivery address:</strong><br/>
                  <%= @box.firstname + ' ' + @box.lastname%><br />
                  <%= @box.street%><br />
                  <% if @box.street2.present? %>
                  <%= @box.street2 %><br />
                  <% end %>
                  <%= @box.city %>, <%= @box.state %> <%= @box.zip %><br />
                </p>
              </div>
              <div class="large-6 columns">
                <p><strong>Contact information:</strong><br/>
                  <%= @box.email %><br />
                  <%= @box.phone %><br />
                </p>
              </div>
            </div>

           </div>
          </fieldset>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>If you have any questions, please reach us by email at <%= mail_to "support@farmivore.com", "support@farmivore.com" %>, and we'll get back to you as fast as humanly possible.  Thanks for your order! </p>
  </div>
</div>