
<%= render 'shared/order_bg_1', stage: 3, order: @order %> 

<!-- CC Form Page 3-->
<div id="page-3">
  <h3 class="green">Payment information</h3>

        <form action="<%= charges_path %>" method="POST" id="payment-form" data-abide>
          <span class="payment-errors"></span>
          
          <div class="row">
            <div class="small-8 medium-6 columns">
              <label>
                <span>Name on Card</span>
                <input type="text" size="20" data-stripe="name" value="<%= @order.fullname %>" required/>
                <small class="error">Name is incorrect for this card</small>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-8 medium-6 columns">
              <label>
                <span>Card Number</span>
                <input type="text" size="20" data-stripe="number" required pattern="card"/>
                <small class="error">This doesn't look like a valid card number</small>
                <%= image_tag ('orders/credit-card-icons.jpg')%>
              </label>
            </div>
          </div>

          
        
            <div class="row">
              <div class="small-5 medium-3 columns">
                <label>
                  <span>Expiration month</span>
                    <input type="text" size="2" maxlength="2" data-stripe="exp-month" required pattern="integer" placeholder="e.g. 01" />
                    <small class="error">Please enter a valid 2-digit month</small>
                </label>
              </div>

              <div class="small-5 medium-3 columns">
                <label>
                  <span>Year</span>
                  <input type="text" size="4" maxlength="4" data-stripe="exp-year" required pattern="integer" placeholder="e.g. 2017"/>
                  <small class="error">Please enter a valid 4 digit year</small>
                </label>
              </div>

              <div class="small-2 medium-6 columns">
                &nbsp;
              </div>
            </div>
          </label>

          <div class="row">
            <div class="small-5 medium-3 columns">
              <label>
                <span>CVC</span>
              <input type="text" size="4" data-stripe="cvc" required pattern="cvv" placeholder="e.g. 919"/>
              <small class="error">This doesn't look like a valid CVC</small>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-11 medium-8 columns">
              <label><input type="checkbox" id="terms-agree"> I agree to the <a href="#">terms of service</a></label>
            </div>
          </div>

          <div class="row">
            <div class="small-6 medium-4 columns">
              <submit class="fv-button" id="stripe-submit">Finish!</submit>
              <div class="fv-button-disabled" id="stripe-disabled">Finish!</div>
            </div>
          </div>

        </form>
</div>
<!-- CC Form Page 3-->

<%= render 'shared/order_bg_2', summary: {title: 'hello'}, order: @order %> 

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey(<%= Rails.configuration.stripe[:publishable_key] %>);
</script>

