<div class="row">
  <div class="large-12 columns">
    <h3><%=@status.inspect%>  Let's confirm the details here.</h3>
          <fieldset>
            <legend>Your order</legend>
            <div class="row">
              <div class="large-12 columns">

                 <p>You selected a <strong><%= @box.get_box_name %></strong> with <%=@box.raw_num %> raw pack/s,  <%=@box.cook_num %> cooking pack/s, and <%=@box.fruit_num %> fruit pack/s.</p>

                 <p>Your total price will be <strong>$<%= @box.get_price.to_s.chop.chop + '.' + @box.get_price.to_s.last(2) %>,</strong> shipping included, per week.</p>

                   <p>Your first delivery will be on <strong><%= @box.startdate %></strong>. Your preferred time of delivery is: <strong><%= @box.delivery_preference_string %></strong></p>
                 </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <p><strong>Delivery address:</strong><br/>
                  <%= @box.firstname + ' ' + @box.lastname%><br />
                  <%= @box.street%><br />
                  <% if @box.street2.present? %>
                  <%= @box.street2 %><br />
                  <% end %>
                  <%= @box.city %>, <%= @box.state %> <%= @box.zip %><br />
                </p>
              </div>
              <div class="large-6 columns">
                <p><strong>Contact information:</strong><br/>
                  <%= @box.email %><br />
                  <%= @box.phone %><br />
                </p>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns"><%= link_to "Go back and modify your order", edit_box_path(session[:box_id]) %></div>
            </div>
           </div>
          </fieldset>
  </div>
</div>

<div class="row">
      <h3>Our policy</h3>
      <ul class="square">
        <li><p>You will be charged immediately for your first box</p></li>
        <li><p>You can skip a week or cancel your subscription at anytime by emailing us at <%= mail_to 'hello@farmivore.com', "hello@farmivore.com" %>, at least 4 days in advance of your order.</p></li>
        <li><p>Satisfaction guaranteed. If you don't like it, you don't pay.</p></li>
      </ul>
</div>

<div class="row">
  <div class="small-4 columns panel small-offset-4" id="payment_box">
    <div class="centered">
    <%= form_tag charges_path do %>
      <article>
        <label class="amount">
          <span>Amount: $<%= @amount.to_s.chop.chop + '.' + @amount.to_s.last(2) %></span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="For delivery <%= @box.startdate%>"
              data-amount=<%= @amount%> ></script>
    <% end %>
    </div>
  </div>
</div>