
<%= render 'shared/order_bg_1', stage: 3 %> 

      <div class="row">
        <div class="small-4 columns small-centered centered" id="payment_box">
          <button id="terms_button"><strong>Pay with card</strong></button>
          <div id="terms_reveal">
          <%= form_tag charges_path do %>
            
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-name="Farmivore"
                    data-image=<%= asset_path('carrot-color.png') %>
                    data-description="Subscription starting <%= @box.startdate%>"
                    data-amount=<%= @box.box_price %>
                    data-email=<%= @box.email %>
              >
            </script>
          <% end %>
          </div>
          <h5>100% satisfaction guaranteed.</h5>
        </div>
      </div>

<%= render 'shared/order_bg_2', summary: {title: 'hello'} %> 



