<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>
 
<p>
  <strong>State:</strong>
  <%= @place.state %>
</p>

<h2>List of products you can buy here</h2>
 <%= render partial: "shared/products_table", locals: {products: @products}  %>

<h2>Farms in this location:</h2>
<%= render partial: "shared/farms_table", locals: {farms: @farms} %>

<h2>List of spots where you can pick up stuff up here</h2>
<%= render partial: "shared/pickups_table", locals: {pickups: @pickups} %>
