<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>
 
<p>
  <strong>State:</strong>
  <%= @place.state %>
</p>

<h2>Farms in this location:</h2>
<p>
<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Description</th>
  </tr>
 
  <% @farms.each do |farm| %>
    <tr>
      <td><%= link_to farm.title, farm_path(farm.id) %></td>
      <td><%= farm.address %></td>
      <td><%= farm.description %></td>
    </tr>
  <% end %>
</table>
</p>
