<!DOCTYPE html>
<html>
<head>
  <title>Farmivore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br />
<hr>

<p>
	<%= link_to 'Home', root_path %> - <%= link_to 'See all our farms', farms_path %> - <%= link_to 'About us', welcome_about_path %> - <%= link_to 'Contact us', welcome_contact_path %> - <%= link_to 'Admin (requires login)', welcome_admin_path %> - <%= link_to 'Your shopping cart', cart_path(id: @cart.id) %>
</p>	

</body>
</html>
